{%- liquid
    assign image = article.image
    assign id = article.id
    assign link = article.url
    assign title = article.title
    assign author = article.author
    if image == blank and show_placeholder == false
        assign summary = article.excerpt_or_content | strip_html | truncatewords: 62
    else
        assign summary = article.excerpt_or_content | strip_html | truncatewords: catewords
    endif
-%}
<article class="article-item{% if image == blank %} article-card--no-image{% unless show_placeholder %} not-placeholder{% endunless %}{% endif %}{% unless show_read_more %} not-read-more{% endunless %}" aria-labelledby="Article-{{ id }}">
    {%- if image -%}
        <div class="blog-image img-box">
            {%- assign preview_img = image -%}
            {%- assign img_url = preview_img | img_url: '700px', crop: 'center' -%}
            <a href="{{ link }}" class="image image-{{ media_size }} image-zoom"
                {% if media_size == 'adapt' %}
                  style="padding-bottom: {{ 1 | divided_by: preview_img.aspect_ratio | times: 100 }}%;"
                {% elsif media_size == 'square' %}
                  style="padding-bottom: 100%;"
                {% elsif media_size == 'portrait' %}
                    style="padding-bottom: {{ portrait_aspect_ratio }};"
                {% endif %}
              >
                <img srcset="
                    {%- if image.src.width >= 165 -%}{{ image.src | img_url: '165x' }} 165w,{%- endif -%}
                    {%- if image.src.width >= 360 -%}{{ image.src | img_url: '360x' }} 360w,{%- endif -%}
                    {%- if image.src.width >= 370 -%}{{ image.src | img_url: '370x' }} 370w,{%- endif -%}
                    {%- if image.src.width >= 533 -%}{{ image.src | img_url: '533x' }} 533w,{%- endif -%}
                    {%- if image.src.width >= 720 -%}{{ image.src | img_url: '720x' }} 720w,{%- endif -%}
                    {%- if image.src.width >= 870 -%}{{ image.src | img_url: '870x' }} 870w,{%- endif -%}
                    {%- if image.src.width >= 940 -%}{{ image.src | img_url: '940x' }} 940w,{%- endif -%}
                    {%- if image.src.width >= 1066 -%}{{ image.src | img_url: '1066x' }} 1066w{%- endif -%}" src="{{ image.src | img_url: '533x' }}" sizes="(min-width: 1100px) {{preview_img.width | append: 'px'}}, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="{{ image.src.alt | escape }}" loading="lazy" class="motion-reduce"
                >
            </a>
             {% for tag in article.tags %}
                    {% if tag == "felicia" %}
                        <div class="blog-editor-card">
                            <div class="editor-image-card">
                            <img src="https://wellnessextract.com/cdn/shop/files/Felicia_300x300.jpg?v=1737439340" width="40px" alt="Dr. Felicia">
                            </div>
                            <a href="https://wellnessextract.com/pages/dr-felicia">
                            <span class="blog-author blog-editor-card-page">
                                <span>Reviewed by: Dr. Felicia</span>
                            </span>
                            </a>
                        </div>
                        {% elsif tag == "lehri" %}
                            <div class="blog-editor-card">
                            <div class="editor-image-card">
                            <img src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/Lehri.jpg?v=1741159628" width="40px" alt="Dr. Surangama Lehri">
                            </div>
                            <a href="https://wellnessextract.com/pages/dr-surangama-lehri">
                            <span class="blog-author blog-editor-card-page">
                                <span>Reviewed by: Dr. Surangama Lehri</span>
                            </span>
                            </a>
                        </div>
                       {% elsif tag == "drcook" %}
                            <div class="blog-editor-card">
                            <div class="editor-image-card">
                            <img src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/Doug_Cook_300x300.jpg?v=1737439341" width="40px" alt="Doug Cook RD MHSc.">
                            </div>
                            <a href="https://wellnessextract.com/pages/doug-cook-rd-mhsc">
                            <span class="blog-author blog-editor-card-page">
                                <span>Reviewed by: Doug Cook RD MHSc.</span>
                            </span>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
        </div>
    {%- elsif show_placeholder -%}
        <div class="blog-image img-box">
            <a href="{{ link }}" class="image">
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            </a>
        </div>
    {%- endif -%}
    <div class="blog-content text-{{ blog_text_align }}">
           <div class="blog-text-inner">
           {%- if show_author or show_date or show_comment -%}
            <p class="blog-info">
                {% if show_author %}
                    {% assign blogauthor = article.author %}
                        {% if blogauthor == 'Sarika Jassal' %}
                            <img src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/Sarika.jpg?v=1737525344" width="40px" alt="sarika jassal">
                            {% elsif blogauthor == "Divya Katyal" %}
                             <img src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/Divya.jpg?v=1737525344" width="40px" alt="divya">
                             {% elsif blogauthor == "Pragya Soni" %}
                             <img src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/Pragya.jpg?v=1738648479" width="40px" alt="Pragya">
                             {% elsif blogauthor == "Pooja Rawat" %}
                                <img src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/Pooja-2.jpg?v=1739511048" width="40px" alt="Pooja">
                             {% elsif blogauthor == "Nurah Ekhlaque" %}
                                <img src="https://wellnessextract.com/cdn/shop/files/nurah.jpg?v=1745843377" width="40px" alt="nurah">
                               {% elsif blogauthor == "Aditi bakshi" %}
                                <img src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/Dr._Aditi_Bakshi_Msc-Nutrition_50x50_1.jpg?v=1748929087" width="40px" alt="dr aditi">
                             {% elsif blogauthor == "Surangama Lehri" %}
                                <img src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/Lehri_50x50_1.jpg?v=1748929120" width="40px" alt="dr lehri">
                               
                            {% else %}
                             <img src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/image_5_7935c512-a1c4-45fd-baaa-b6063fd0ed2c.png?v=1738731314" width="40px" alt="divya">
                            {% endif %}
                        {% if blogauthor == 'Sarika Jassal'
                             or blogauthor == 'Divya Katyal' 
                             or blogauthor == 'Pragya Soni'
                              or blogauthor == "Pooja Rawat" 
                              or blogauthor == "Nurah Ekhlaque" 
                              or blogauthor == "Aditi bakshi"
                              or  blogauthor == "Surangama Lehri" 
                            %}
                          <a {% if blogauthor == "Surangama Lehri" %}href="https://wellnessextract.com/pages/dr-{{ article.author | replace: ' ', '-' | downcase }}" {%else%}href="https://wellnessextract.com/pages/{{ article.author | replace: ' ', '-' | downcase }}"{% endif %}>
                       {% if author == 'Aditi bakshi' or blogauthor == "Surangama Lehri" %}
                          <span class="blog-author">
                          {{ 'blogs.article.by' | t }} <span>Dr. {{ author }}</span>
                              </span>
                          {% else %}
                         <span class="blog-author">
                           {{ 'blogs.article.by' | t }} <span>{{ author }}</span>
                           </span>
                         {% endif %}

                        </a>
                        {% else %}
                        <span class="blog-author">
                            {{ 'blogs.article.by' | t }} <span>{{ author }}</span>
                        </span>
                    {% endif %}
                {% endif %}
                {% if show_date %}
                    <span class="blog-date">{{ 'blogs.article.on' | t }} {{ article.published_at | time_tag: '%b %d, %Y' }}</span>
                {% endif%}
                  {% assign word_count = article.excerpt_or_content | strip_html | split: " " | size %}
                  {% assign reading_time = word_count | divided_by: 200 %}
                  {% if word_count > 0 and reading_time == 0 %}
                    {% assign reading_time = 1 %}
                  {% endif %}
                    <p style="color: #374650;">Estimated Reading Time: <span>{{ reading_time }} minute{% if reading_time > 1 %}s{% endif %}</span></p>
                {% if show_comment %}
                    <span class="blog-comment">{{ 'blogs.article.comments' | t: count: article.comments_count }}</span>
                {% endif %}
            </p>
        {%- endif -%}
        <h3 class="blog-title" id="Article-{{ article.id }}">
            <a href="{{ link }}"{% if first == true %} class="has-label"{% endif %}>
                {% if first == true %}
                    <span class="article-label">{{ 'blogs.article.featured' | t }}</span>
                {% endif %}
                {{ title | escape }}
            </a>
        </h3>
        {%- if show_summary and summary != blank -%}
            {% comment %} <div class="blog-summary">
                {{ summary }}
            </div> {% endcomment %}
        {%- endif -%}
        {%- if show_read_more -%}
            <a href="{{ link }}" class="button button-2 blog-btn link">
                <span class="text">
                    {% comment %} {{ 'blogs.article.read_more' | t }} {% endcomment %}
                    read more
                </span>
            </a>
        {%- endif -%}
        </div>
    </div>
</article>
<style>
    .blog-editor-card-page span{
      color: var(--color-summary-style);
      font-weight: var(--font-weight-semibold);
      font-size: 12px !important;
    }
.blog-editor-card {
    display: flex;
    align-items: center;
    gap: 10px;
}
.main-blog .blog-content .blog-editor-card img{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    object-fit: cover;
    border: 2px solid #2F698E;
}
@media (max-width: 639px) {
    .main-blog .blog-content .blog-editor-card img {
        width: 26px;
        height: 26px;
    }
}
    .article-info-card {
      margin-top: 20px;
      padding: 15px;
      border: 1px solid #ddd;
      border-radius: 8px;
      background-color: #F9F9F9;
      max-width: 300px;
      margin-bottom: 15px;
    }
    .article-info-card p {
      margin: 5px 0;
      font-size: 16px;
      color: #36454F;
    }
    .article-info-card .highlight {
      font-weight: bold;
      color: #086B92;
    }
  </style>