<!-- cart-drawer-recommended-product -->
<div class="cart_grid_list">
  <img
    class="cstm_grid_list"
    loading="lazy"
    src="{% if product.featured_image != blank %}{{ product.featured_image | img_url: 'small' }}{% else %}{{ "https://cdn.shopify.com/s/files/1/0909/7514/2175/files/logofevicon.png?v=1736016366" }}{% endif %}"
    width="70"
    height="70"
    alt="{{ product.title }}"
    title=""
  >
  <div class="product-info">
    <div class="product-title" data-similar-product="{{ product.title | handle }}">{{ product.title }}</div>
    <div class="product-price">
      <div>
        {% if product.compare_at_price %}
          <span
            style="
              text-decoration: line-through;
              color: rgb(85 85 85);
              opacity: 0.8;
              font-size: 12px;
              font-weight: 600;
            "
          >
            {{ product.compare_at_price | money }}
          </span>
        {% endif %}
        <span class="discount-price" style="color: rgb(255, 203, 74);">
          {{ product.price | money }}
        </span>
        {% if settings.details_link != blank %}
          <a href="{{ product.url }}" title="" class="details-link">{{ settings.details_link }}</a>
        {% endif %}
      </div>
      {% if product.variants.size != 0 %}
        {% if settings.atc != blank %}
          {% if product.selected_or_first_available_variant.inventory_quantity > 0 %}
            <button
              class="recommended_atc_btn addtocart_btn button"
              id="recommendedProduct"
              data-productTitle="{{ product.title }}"
              data-producid="{{ product.id }}"
              data-product-inventory="{{ product.available }}"
              data-varIantid="{{ product.selected_or_first_available_variant.id }}"
              data-product-ur="{{ shop.url }}{{ product.url }}"
            >
              {{ settings.atc }}
            </button>
          {% else %}
            <button class="recommended_atc_btn soldoutBtn">Soldout</button>
          {% endif %}
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
