<div class="halo-top-language">
    <div class="btn-group disclosure">
        {% assign logoActive = '' %}
        {% for i in (1..6) %}
        {% capture lang_unit %}lange_{{ i }}{% endcapture %}
        {% capture i-lang_unit %}i-lang-{{ i }}{% endcapture %}
        {% assign currency_length = settings[i-lang_unit] | size %}
        {% if settings[lang_unit] == localization.language.iso_code %}
        {% assign logoActive = settings[i-lang_unit] %}
        {% endif %}
        {% endfor %}
        <button type="button" class="disclosure__button dropdown-toggle dropdown-label localization-form__select localization-selector link link--text caption-large" aria-controls="HeaderLanguageList" aria-describedby="HeaderLanguageLabel" aria-label="{{ localization.language.iso_code }}">
            <span class="icon">{{ logoActive }}</span> <span class="text text-language">{{ localization.language.iso_code }}</span>
            {%- if localization.available_languages.size > 1 -%}
                {%- if icon == 'sort' -%}
                    {% render 'icon-sort-down' %}
                {%- else -%}
                    <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" enable-background="new 0 0 551.13 551.13" height="512" viewBox="0 0 551.13 551.13" width="512"><path d="m275.565 361.679-223.897-223.896h-51.668l275.565 275.565 275.565-275.565h-51.668z"/></svg>
                {%- endif -%}
            {%- endif -%}
        </button>
    </div>
    <div class="dropdown-language">{% if settings.enable_multilang_shopify %}{% render 'halo-language' %}{% endif %}</div>
</div>

<style>
  @media screen and (min-width: 1025px) {
    .header-nav-utility .top-language-currency .dropdown-label .text {
        vertical-align: middle;
        font-size: 14px;
        color: #fff;
        margin-left: 15px;
        font-weight: 600;
    }
      .header-nav-utility .halo-top-language .disclosure__button>.icon svg {
        width: 22px;
        height: 22px;
        border: 2px solid ##086b92;
        border-radius: 30px;
    }
}
  .halo-top-currency .text+svg {
    position: relative;
    top: 0;
    width: 13px;
    height: 15px;
    fill: #fff;
    stroke: #fff;
}
  .header-language_currency.language_currency_style_1.d-inline-block {
    background: #fff;
    padding: 4px 8px;
    font-size: 16px;
    border-radius: 29px;
}
      .header-nav-utility .halo-top-language .disclosure__button>.icon {
        width: 22px;
        height: 22px;
        border-radius: 30px;
    }
  .header-navigation .top-language-currency:hover .dropdown-label .text{
    color: #086B92;
  }
  .header-navigation .top-language-currency:hover .dropdown-label .text, .header-navigation .top-language-currency:hover .dropdown-label .text+svg{
    color: #086B92;
  }

 .has-megamenu .label.hot-label {
   display:none;
 }
</style>