<!-- popup_video_product -->
{% assign popupvideo = metaobject.video_link.value %}
{% assign featured_product = metaobject.video_product_1.value %}
{% assign featured_product1 = metaobject.video_product_2.value %}
{% assign primary_variant = featured_product.variants | where: 'available', true | first %}
{% assign secondary_variant = featured_product1.variants | where: 'available', true | first %}
<div class="video_popup_init" id="modal-{{ meta_id}}">
  <div class="video_popup">
    <button
      type="button"
      id="closed_popup_btn"
      class="cideoClosed halo-sidebar-close button-effect"
      data-close-cart-sidebar=""
      aria-label="Close"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
        <path d="M 38.982422 6.9707031 A 2.0002 2.0002 0 0 0 37.585938 7.5859375 L 24 21.171875 L 10.414062 7.5859375 A 2.0002 2.0002 0 0 0 8.9785156 6.9804688 A 2.0002 2.0002 0 0 0 7.5859375 10.414062 L 21.171875 24 L 7.5859375 37.585938 A 2.0002 2.0002 0 1 0 10.414062 40.414062 L 24 26.828125 L 37.585938 40.414062 A 2.0002 2.0002 0 1 0 40.414062 37.585938 L 26.828125 24 L 40.414062 10.414062 A 2.0002 2.0002 0 0 0 38.982422 6.9707031 z"></path>
      </svg>
    </button>

    <div class="video_popup_grid">
      <div class="video_popup_grid_inner" style="position: relative;">
        <video
          id="customVideo"
          muted
          loop
          controls
          poster="{{ metaobject.video_poster.value | img_url: '500x' }}"
          style="width: 100%; height: auto;"
        >
          <source src="{{ popupvideo }}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>

    <div class="video_popup_grid {% if metaobject.video_product_1.value != blank %}popup_second_product{% endif %}">
      {% if metaobject.video_product_1.value != blank %}
        <div class="card-content" data-product-id="{{  metaobject.video_product_1.id }}">
          <a href="{{ metaobject.video_product_1.value.url }}" title="{{ featured_product.title }}">
            <img
              class="product-img lazyload"
              data-src="{{  metaobject.video_product_1.value | img_url: '500x' }}"
              src="{{  metaobject.video_product_1.value | img_url: '100x' }}"
              alt="{{ metaobject.video_product_1.title  }}"
              width="100%"
              height="100%"
              style="width: auto; height: auto;"
            >
          </a>
          <div class="product-title-new">
            <p class="product-title">{{ featured_product.title }}</p>
            <p class="product-price">{{ primary_variant.price | money_with_currency }}</p>
          </div>

          {% if primary_variant %}
            <button
              type="submit"
              name="add"
              class="cst_atc_button_testimonail product1"
              data-variant-ids="{{ primary_variant.id }}"
            >
              Add To Cart
            </button>
          {% endif %}
        </div>
      {% endif %}

      {% if featured_product1 != blank %}
        <div class="card-content" data-product-id="{{ secondary_variant.id }}">
          <a href="/products/{{ featured_product1.handle }}" title="{{ featured_product1.title }}">
            <img
              class="product-img lazyload"
              data-src="{{ metaobject.video_product_2.value | img_url: '500x' }}"
              src="{{ metaobject.video_product_2.value | img_url: '100x' }}"
              alt="{{ featured_product1.title }}"
              width="100%"
              height="100%"
              style="width: auto; height: auto;"
            >
          </a>
          <div class="product-title-new">
            <p class="product-title">{{ featured_product1.title }}</p>
            <p class="product-price">{{ secondary_variant.price | money_with_currency }}</p>
          </div>

          {% if secondary_variant %}
            <button
              type="submit"
              name="add"
              class="cst_atc_button_testimonail product2"
              data-variant-ids="{{ secondary_variant.id }}"
            >
              Add To Cart
            </button>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
