<!-- popup_video_product -->
<div class="video_popup_init" id="video_open_popup">
  <div class="video_popup">
    <div class="video_popup_grid">
      <video muted playsinline loop autoplay style="width: 100%; height: auto;">
        <source src="{{ video.settings.video }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="video_popup_grid">
      {% if featured_product %}
        <div class="card-content" data-product-id="{{ featured_product.id }}">
          <a href="{{ featured_product }}" title="{{ featured_product.title }}">
            <img
              class="product-img lazyload"
              data-src="{{ featured_product.featured_image | img_url: 'master' }}"
              src="{{ featured_product.featured_image | img_url: 'master' }}"
              alt="{{ featured_product.title }}"
              width="100%"
              height="100%"
              style="
                width: auto;
                height: auto;
              "
            >
          </a>
          <div class="product-title-new">
            <p class="product-title">{{ featured_product.title }}</p>
            <p class="product-price">{{ featured_product.price | money_with_currency }}</p>
          </div>

          <button class="shop-button">Add To Cart</button>
        </div>
      {% endif %}
    </div>
  </div>
</div>

<style>
  div#video_open_popup {
    /* display:none; */
  position: fixed;
  z-index: 999999;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(10, 10, 10, .77);
  }
  div#video_open_popup .video_popup_grid {
  width: 50%;
  }
  div#video_open_popup .video_popup {
  width: 600px;
  background: #fff;
  margin: auto;
  padding: 20px;
  border-radius: 12px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  div#video_open_popup .product-title-new {
  width: auto;
  }
  div#video_open_popup .product-title-new .product-title {
  color: #086b92;
  margin-top: 15px;
  line-height: 1.5;
  font-size: 14px;
  margin-bottom: 8px;
  }
  div#video_open_popup .product-title-new .product-price {
  font-size: 16px;
  margin: 0;
  color: rgb(233, 81, 68);
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 1.2px;
  }
  div#video_open_popup .card-content .shop-button {
  font-size: 14px;
  border: 2px solid #086b92;
  background-color: #086b92;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
  }
  div#video_open_popup .card-content .shop-button:hover {
  background: transparent;
  border: 2px solid #086b92;
  color: #086b92;
  font-weight: bold;
  }
</style>
