<!-- product_benefit_third0 -->
{% assign benefitmetaobject = product.metafields.custom.product_3_0_benefits.value %}

{% if benefitmetaobject != blank %}
  <div class="health-benefits_thirdO">
    {% for benefit in benefitmetaobject %}
      <div class="benefit-item">
      {% if benefit.benefit_imageurl_1.value != blank %}
        <span class="content_benefits_img">
          <img
            class="health_benefits_img"
            src="{{ benefit.benefit_imageurl_1.value }}"
            alt="{{ benefit.benefit_imageurl_content_1.value }}"
            width=""
            height=""
            loading="lazy"
          >
        </span>
        {% endif %}
        <span class="content_benefits">{{ benefit.benefit_imageurl_content_1.value }}</span>
      </div>
      <div class="benefit-item">
      {% if benefit.benefit_imageurl2.value != blank %}
        <span class="content_benefits_img">
          <img
            class="health_benefits_img"
            src="{{ benefit.benefit_imageurl2.value }}"
            alt="{{ benefit.benefit_imageurl_content_2.value }}"
            width=""
            height=""
            loading="lazy"
          >
        </span>
        {% endif %}
        <span class="content_benefits">{{ benefit.benefit_imageurl_content_2.value }}</span>
      </div>
      <div class="benefit-item">
         {% if benefit.benefit_imageurl3.value != blank %}
        <span class="content_benefits_img">
          <img
            class="health_benefits_img"
            src="{{ benefit.benefit_imageurl_3.value }}"
            alt="{{ benefit.benefit_imageurl_content_3.value }}"
            width=""
            height=""
            loading="lazy"
          >
        </span>
        {% endif %}
        <span class="content_benefits">{{ benefit.benefit_imageurl_content_3.value }}</span>
      </div>
      <div class="benefit-item">
         {% if benefit.benefit_imageurl4.value != blank %}
        <span class="content_benefits_img">
          <img
            class="health_benefits_img"
            src="{{ benefit.benefit_imageurl_4.value }}"
            alt="{{ benefit.benefit_imageurl_content_4.value }}"
            width=""
            height=""
            loading="lazy"
          >
        </span>
        {% endif %}
        <span class="content_benefits">{{ benefit.benefit_imageurl_content_4.value }}</span>
      </div>
      <div class="benefit-item">
         {% if benefit.benefit_imageurl_5.value != blank %}
        <span class="content_benefits_img">
          <img
            class="health_benefits_img"
            src="{{ benefit.benefit_imageurl_5.value }}"
            alt="{{ benefit.benefit_imageurl_content_5.value }}"
            width=""
            height=""
            loading="lazy"
          >
        </span>
        {% endif %}
        <span class="content_benefits">{{ benefit.benefit_imageurl_content_5.value }}</span>
      </div>
      <div class="benefit-item">
         {% if benefit.benefit_imageurl_6.value != blank %}
        <span class="content_benefits_img">
          <img
            class="health_benefits_img"
            src="{{ benefit.benefit_imageurl_6.value }}"
            alt="{{ benefit.benefit_imageurl_content_6.value }}"
            width=""
            height=""
            loading="lazy"
          >
        </span>
        {% endif %}
        <span class="content_benefits">{{ benefit.benefit_imageurl_content_6.value }}</span>
      </div>
    {% endfor %}
  </div>
{% endif %}

{% style %}
  .health-benefits_thirdO {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin: 20px auto;
  }

  .health-benefits_thirdO .benefit-item {
    display: flex;
    align-items: center;
    gap: 7px;
    width: 30%;
    font-size: 16px;
    color: #2c2c2c;
  }

  .health-benefits_thirdO .benefit-item .content_benefits_img {
    font-size: 20px;
  }
{% endstyle %}
