<!--  -->
{% assign benefits_third_o = product.metafields.custom.product_3_0_benefits.value %}
{% if benefits_third_o != blank %}
  <div class="health-benefits_thirdO" id="benefit__{{ block.id }}">
    {% for benefit in benefits_third_o %}
      {% assign benefit_image_url = benefit.benefits_url.value | image_url: '500x' %}
      {% assign benefit_title = benefit.benefits_title.value %}

      <div class="benefit-item">
        <span class="icon">
          <img
            class="health_benefits_img"
            src="{{ benefit_image_url }}"
            alt="{{ benefit_title }}"
            title="{{ benefit_title }}"
            loading="lazy"
          >
        </span>
        <span>{{ benefit_title }}</span>
      </div>
    {% endfor %}
  </div>
{% endif %}
{% style %}
   .health-benefits_thirdO{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    max-width: 600px;
    margin: 20px auto;
    font-family: sans-serif;
  }

  .health-benefits_thirdO .benefit-item {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 30%;
    min-width: 160px;
    font-size: 16px;
    color: #2c2c2c;
  }

  .health-benefits_thirdO .benefit-item .icon {
    font-size: 20px;
  }
{% endstyle %}
