<!--  -->
{% assign benefits = product.metafields.custom.product_3_0_benefits.value | parse_json %}

{% if benefits.size > 0 %}
  <div class="health-benefits_thirdO" id="benefit__{{ block.id }}">
    {% for benefit_block in benefits %}
      {% assign titles = benefit_block.benefits_title %}
      {% assign urls = benefit_block.benefit_url %}

      {% for i in (0..titles.size | minus: 1) %}
        {% assign title = titles[i] %}
        {% assign image_url = urls[i] %}
        <div class="benefit-item">
          <span class="icon">
            <img
              class="health_benefits_img"
              src="{{ image_url }}"
              alt="{{ title }}"
              title="{{ title }}"
              loading="lazy"
            >
          </span>
          <span>{{ title }}</span>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
{% endif %}

{% style %}
   .health-benefits_thirdO{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    max-width: 600px;
    margin: 20px auto;
    font-family: sans-serif;
  }

  .health-benefits_thirdO .benefit-item {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 30%;
    min-width: 160px;
    font-size: 16px;
    color: #2c2c2c;
  }

  .health-benefits_thirdO .benefit-item .icon {
    font-size: 20px;
  }
{% endstyle %}
