<div
  class="bundle_grid_list cart_grid_list"
  {% assign current_variant = product.selected_or_first_available_variant %}
  {% if current_variant.inventory_quantity > 0 %}
    data-bundle-id="{{ current_variant.id }}" data-bundle-title="{{ product.title }}"
  {% endif %}
>
  {% if product.metafields.custom.custom_badge.value != blank %}   {% endif %}
    <div class="productbadgenew">
      {{ product.metafields.custom.custom_badge.value }}
    
    </div>
 
  <a href="{{ product.url }}" title="" class="details-link1">
    {% if product.metafields.custom.product_badge_code.value != blank %}
    {% endif %}
    <img
      class="cstm_grid_list"
      loading="lazy"
      src="{{ product.featured_image | img_url: '500x' }}"
      width="100%"
      height="100%"
      alt="{{ product.title }}"
      title=""
    >
    <noscript>
      <img
        class="cstm_grid_list"
        loading="lazy"
        src="{{ product.featured_image | img_url: '500x' }}"
        width="100%"
        height="100%"
        alt="{{ product.title }}"
        title=""
      >
    </noscript>
    <div class="product-info">
      <div class="product-title" data-similar-product="{{ product.title | handle }}">{{ product.title }}</div>
      {% if product_card_product.metafields.custom.product_short_description != blank %}
        <p class="product-shortdescription">
          {{ product.metafields.custom.product_short_description.value | split: '|' | last }}
        </p>
      {% endif %}
       {% comment %} {% render 'okendo-reviews-product-rating-summary', product: product -%}
     {% endcomment %}
      <div class="product-price price-item ">
        {% render 'price', product: product %}
      </div>
    </div>
  </a>

  <!-- Single Variant: Display Add to Cart Button -->
  {% assign current_variant = product.selected_or_first_available_variant %}
  {% if current_variant.inventory_quantity > 0 %}
    <button
      class="recommended_atc_btn product-form__submit button button--primary"
      data-product-title="{{ product.title }}"
      data-product-id="{{ product.id }}"
      data-varIantid="{{ current_variant.id }}"
    >
      {{' Add To Cart' }}
    </button>
  {% else %}
    <button
      class="recommended_atc_btn soldoutBtn"
      disabled
    >
      {{ 'products.product.sold_out' | t }}
    </button>
  {% endif %}
</div>
