<div class="carousel-wrapper">
<div class="owl-carousel common-carousel">
<div class="item">
    <div class="inner-items container">
          <img class="lazyload" data-src="{{ tab_slider.button1_slide_image1 }}" src="{{ tab_slider.button1_slide_image1 }}" title="" width="100%" height="100%" style=""
            alt="">
        <div class="content-secton">
            <div class="inner-content">
                <div class="cstm_tab_slider title-group">
                   {% if tab_slider.button1_tab_title1 != blank %} <h2 class="slider-title">{{ tab_slider.button1_tab_title1 }}</h2>{% endif %}
                   {% if tab_slider.button1_tab_slide1_description != blank %} 
                  <p class="description_with_redirection">
                   {{ tab_slider.button1_tab_slide1_description }}<br>
                  {% if tab_slider.button1_tab_slide1_description_link1 != blank %} 
                    <a href="{{ tab_slider.button1_tab_slide1_description_link1 }}" class="redirection_link">Read more</a>
                    {% endif %}
                 </p>
                  {% endif %}
                </div>
               
            </div>
        </div>
    </div>
</div>

</div>
</div>