<section class="about-us-newcontainer">
  <div class="about-us-two-col-section">
    <h2>{{ section.settings.mission_title }}</h2>
    <p>{{ section.settings.mission_content }}</p>
    {% if section.settings.button_text_link != blank %}
      <a href="{{ section.settings.button_text_link }}">
        {{ section.settings.button_text }}
      </a>
    {% endif %}
  </div>
  <div class="about-us-two-colimage-container">
    <img
      src="{{ section.settings.mission_image | img_url: 'master' }}"
      alt="{{ section.settings.mission_image.alt }}"
      class="about-us-two-colimage">
  </div>
</section>

<section class="about-us-newcontainer" id="our-story-two-col">
  <div class="about-us-two-colimage-container">
    <img
      src="{{ section.settings.story_image | img_url: 'master' }}"
      alt="{{ section.settings.story_image.alt }}"
      class="about-us-two-colimage">
  </div>
  <div class="about-us-two-col-section">
    <h2>{{ section.settings.story_title }}</h2>
    <p>{{ section.settings.story_content }}</p>
    {% if section.settings.button_text_link2 != blank %}
      <a href="{{ section.settings.button_text_link2 }}">
        {{ section.settings.button_text2 }}
      </a>
    {% endif %}
  </div>
</section>


<style>
  @media (min-width: 769px) {
    .about-us-newcontainer {
      margin: 30px auto;
      padding: 40px 20px;
    }
  }

  @media (max-width: 768px) {
    .about-us-newcontainer {
      margin: 0 auto;
      padding: 20px;
    }
  }
  .about-us-newcontainer {
    background-color: white;
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    border-radius: 10px;
  }


  .about-us-two-col-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about-us-two-col-section h2 {
    color: #007bb7;
    font-size: 28px;
    margin-bottom: 15px;
    line-height: 1.2;
    margin: 0 !important;
  }

  .about-us-two-col-section p {
    font-size: 16px;
    line-height: 1.6;
    margin: 6px;
  }

  .about-us-two-col-section span{
    font-size: 24px;
  }

  .about-us-two-colimage {
    width: 100%;
    border-radius: 10px;
  }

  .logo-image {
    max-width: 100%;
    display: block;
    margin: auto;
    border-radius: 10px;
  }

  .about-us-two-col-section a {
    max-width: 150px;
    border: 2px solid #086b92;
    padding: 8px;
    text-align: center;
    background: #086b92;
    color: white;
    border-radius: 8px;
    margin-top: 20px;
  }
  .about-us-two-col-section a:hover {
    background-color: white;
    color: #086b92;
  }

  @media (max-width: 769px) {
    section#our-story-two-col {
      display: flex;
      flex-direction: column-reverse;
    }
  }
</style>
{% schema %}
  {
    "name": "About Us Two Column",
    "settings": [
      {
        "type": "image_picker",
        "id": "mission_image",
        "label": "Mission Image"
      },
      {
        "type": "text",
        "id": "mission_title",
        "label": "Mission Title",
        "default": "Our Mission"
      },
      {
        "type": "textarea",
        "id": "mission_content",
        "label": "Mission Content",
        "default": "Our mission content goes here..."
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Mission Button Text",
        "default": "Read More"
      }, {
        "type": "text",
        "id": "button_text_link",
        "label": "Mission Button Link"
      }, {
        "type": "image_picker",
        "id": "story_image",
        "label": "Story Image"
      }, {
        "type": "text",
        "id": "story_title",
        "label": "Story Title",
        "default": "Our Story: A Personal Journey That Sparked a Global Mission"
      }, {
        "type": "textarea",
        "id": "story_content",
        "label": "Story Content",
        "default": "Our story content goes here..."
      }, {
        "type": "text",
        "id": "button_text2",
        "label": "Story Button Text"
      }, {
        "type": "text",
        "id": "button_text_link2",
        "label": "Story Button Link"
      }
    ],
    "presets": [
      {
        "name": "About Us Two Column"
      }
    ]
  }
{% endschema %}