
<!--hero-banner-upper-thirdO-->
{% assign product_banner1 = product.metafields.custom.product_3_0_banner_details.value %}
{% if product_banner1 != blank %}
  {% for product_banner in product_banner1 %}
<section class="hero-section" id="{{ block.id }}" style="background: url({{ product_banner.product_3_0_banner_bg }}) center/cover no-repeat;">
 <div class="position_set_group">
  <div class="hero-overlay">
    {% if product_banner.subtitle != blank %}
      <span class="subtitle">{{ product_banner.subtitle }}</span>
    {% endif %}
    
    {% if product_banner.title != blank %}
      <h2>{{ product_banner.title }}</h2>
    {% endif %}
 <div class="banifit_grid_meta">
    <ul class="benefits-list">
      {% if product_banner.list1 != blank %}
        <li><img src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/image.svg?v=1752225814" alt=""> {{ product_banner.list1 }}</li>
      {% endif %}
      {% if product_banner.list2 != blank %}
        <li><img src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/image.svg?v=1752225814" alt=""> {{ product_banner.list2 }}</li>
      {% endif %}
      {% if product_banner.list3 != blank %}
        <li><img src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/image.svg?v=1752225814" alt=""> {{ product_banner.list3 }}</li>
      {% endif %}
      {% if product_banner.list4 != blank %}
        <li><img src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/image.svg?v=1752225814" alt=""> {{ product_banner.list4 }}</li>
      {% endif %}
    </ul>

    <ul class="benefits-list">
      {% if product_banner.list11 != blank %}
        <li><img src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/image.svg?v=1752225814" alt=""> {{ product_banner.list11 }}</li>
      {% endif %}
      {% if product_banner.list12 != blank %}
        <li><img src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/image.svg?v=1752225814" alt=""> {{ product_banner.list12 }}</li>
      {% endif %}
      {% if product_banner.list13 != blank %}
        <li><img src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/image.svg?v=1752225814" alt=""> {{ product_banner.list13 }}</li>
      {% endif %}
      {% if product_banner.list14 != blank %}
        <li><img src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/image.svg?v=1752225814" alt=""> {{ product_banner.list14 }}</li>
      {% endif %}
    </ul>
 </div>
    {% if product_banner.button_link != blank or product_banner.button != blank %}
      <a class="cta-button" href="{{ product_banner.button_link }}">
        {{ product_banner.button_title }}
      </a>
    {% endif %}
  </div>
  <div class="hero-images">
    {% if product_banner.small_image_1 != blank %}
      <img src="{{ product_banner.small_image_1 }}" alt="" class="small-img top-img">
    {% endif %}
    {% if product_banner.small_image_2 != blank %}
      <img src="{{ product_banner.small_image_2 }}" alt="" class="small-img bottom-img">
    {% endif %}
  </div>
 </div>
</section>
  {% endfor %}
{% endif %}


<style>
  .hero-section {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  padding: 40px;
  color: white;
  font-family: sans-serif;
  overflow: hidden;
}

.hero-section .hero-overlay {
  background: rgba(0, 0, 0, 0.45);
  border-radius: 20px;
  padding: 30px 40px;
  position: absolute;
  width:700px;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(5px);
}

.hero-section .subtitle {
    opacity: 0.8;
    display: block;
    margin-bottom: 10px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero-section .hero-overlay h2 {
    color: #FFF;
    font-family: Nunito;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    margin: 7px 0 7px 0px;
}

  .banifit_grid_meta {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}
  
.hero-section ul.benefits-list {
    margin-left: 0;
    padding-left: 0;
  list-style: none;
}
 .banifit_grid_meta ul.benefits-list li {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    text-transform: capitalize;
    padding-bottom: 20px;
}
 .banifit_grid_meta ul.benefits-list li img {
    width: 18px;
}
/* .hero-section .benefits-list {
  list-style: none;
  padding: 0;
  margin: 0 0 15px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.hero-section .benefits-list li {
  flex: 1 1 200px;
  padding-left: 20px;
  position: relative;
} */
  .hero-section .cta-button {
    background: linear-gradient(to right, #009ecf, #0077a6);
    border: none;
    padding: 8px 20px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    color: #FFF;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 0;
}
.hero-section .cta-button:hover{
   background: #fff;color: #000;
}
.hero-section .hero-images {
  position: absolute;
  right: 40px;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-section .small-img {
  width: 120px;
  height: auto;
  border-radius: 15px;
}

</style>

{% schema %}
  {
  "name": "Banner thirdO product",
  "settings": [
  ],
  "presets": [
    {
      "name": "Banner thirdO product"
    }
  ]
}
{% endschema %}