<!-- hero-content-block-thirdO -->
{% assign hero_content = product.metafields.custom.product_3_0_hero_content_block.value %}
{% if hero_content != blank %}
  {% for hero_content_block in hero_content %}
<section class="tocotrienol-section" id="cstm_{{ section.id }}">
  <div class="tocotrienol-container container">
    {% if hero_content_block.title != blank or hero_content_block.description != blank %}
    <div class="tocotrienol-left">
      <h2>{{ hero_content_block.title }}</h2>
      <p>
        {{ hero_content_block.description }}
      </p>
    </div>
    {% endif %}
    <div class="tocotrienol-right">
{% if hero_content_block.image_1 != blank or hero_content_block.image_content1 != blank%}
      <div class="tocotrienol-point">
        <img src="{{  hero_content_block.image_1 }}" alt="Icon 1" title="" width="" height="" title="">
        <p>{{ hero_content_block.image_content1 }}</p>
      </div>
      {% endif %}

     {% if hero_content_block.image_2 != blank or hero_content_block.image_content2 != blank%}
      <div class="tocotrienol-point">
        <img src="{{  hero_content_block.image_2 }}" alt="Icon 1" title="" width="" height="" title="">
        <p>{{ hero_content_block.image_content2 }}</p>
      </div>
      {% endif %}

     {% if hero_content_block.image_3 != blank or hero_content_block.image_content3 != blank%}
      <div class="tocotrienol-point">
        <img src="{{  hero_content_block.image_3 }}" alt="Icon 1" title="" width="" height="" title="">
        <p>{{ hero_content_block.image_content3 }}</p>
      </div>
      {% endif %}
    
    {% if hero_content_block.image_4 != blank or hero_content_block.image_content4 != blank%}
      <div class="tocotrienol-point">
        <img src="{{  hero_content_block.image_4 }}" alt="Icon 1" title="" width="" height="" title="">
        <p>{{ hero_content_block.image_content4 }}</p>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endfor %}
<style>
#cstm_{{ section.id }} .tocotrienol-section {
  padding: 40px 20px;
  background: #fff;
  color: #2d3748;
}

#cstm_{{ section.id }} .tocotrienol-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

#cstm_{{ section.id }} .tocotrienol-left h2 {
    margin-bottom: 20px;
    color: #374650;
    font-family: Nunito;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 33.6px;
    letter-spacing: 0.68px;
    text-transform: capitalize;
}

#cstm_{{ section.id }} .tocotrienol-left p {
    color: #3C3C3C;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.32px;
}
#cstm_{{ section.id }} .tocotrienol-left {
  flex: 1 1 48%;
}

#cstm_{{ section.id }} .tocotrienol-right {
  flex: 1 1 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#cstm_{{ section.id }} .tocotrienol-point:last-child{
  border-bottom: 0px solid #000;
}
  
#cstm_{{ section.id }} .tocotrienol-point {
 display: flex;
    align-items: center;
    gap: 25px;
    border-bottom: 1px solid #000;
    padding: 17px 0px;
}

#cstm_{{ section.id }} .tocotrienol-point img {
  width: 50px;
  height: auto;
}

#cstm_{{ section.id }} .tocotrienol-point p {
  margin: 0;
  font-size: 17px;
  color: #2d3748;
}

#cstm_{{ section.id }} .tocotrienol-divider {
  border-bottom: 1px solid #ccc;
  margin: 15px 0;
}

@media (max-width: 1024px){
  #cstm_{{ section.id }} .tocotrienol-left {
  text-align:center;
}
  #cstm_{{ section.id }} .tocotrienol-container {
  gap: 40px;
}
  #cstm_{{ section.id }} .tocotrienol-left h2 {
    margin-bottom: 20px;
    font-size: 40px;
  }
}
  
@media (max-width: 768px) {
#cstm_{{ section.id }} .tocotrienol-container {
    flex-direction: column;
  }

 #cstm_{{ section.id }} .tocotrienol-left,
  .tocotrienol-right {
    flex: 1 1 100%;
  }
}

</style>
 {% endif %}
{% schema %}
    {
  "name": "Product Content ThirdO",
  "settings": [
  ],
  "presets": [
    {
      "name": "Product Content ThirdO"
    }
  ]
}
{% endschema %}