<div class="job-details-blocks">
  <div class="job-details-blocks__container">
    <div class="job-details-blocks__main">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'about_role' -%}
            <div class="job-details-blocks__section job-details-blocks__section--about-role" {{ block.shopify_attributes }}>
              {%- if block.settings.title != blank -%}
                <h2 class="job-details-blocks__heading">{{ block.settings.title }}</h2>
              {%- endif -%}
              {%- if block.settings.description != blank -%}
                <div class="job-details-blocks__description">
                  {{ block.settings.description }}
                </div>
              {%- endif -%}
              {%- if block.settings.key_points != blank -%}
                <ul class="job-details-blocks__list">
                  {%- assign key_points = block.settings.key_points | newline_to_br | split: '<br />' -%}
                  {%- for point in key_points -%}
                    {%- if point != blank -%}
                      <li class="job-details-blocks__list-item">
                        <img src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/Frame_5.svg?v=1765964262" alt="" class="job-details-blocks__icon" loading="lazy" width="14" height="14">
                        <span>{{ point | strip }}</span>
                      </li>
                    {%- endif -%}
                  {%- endfor -%}
                </ul>
              {%- endif -%}
            </div>

          {%- when 'key_responsibilities' -%}
            <div class="job-details-blocks__section job-details-blocks__section--key-responsibilities" {{ block.shopify_attributes }}>
              {%- if block.settings.title != blank -%}
                <h2 class="job-details-blocks__heading">{{ block.settings.title }}</h2>
              {%- endif -%}
              
              {%- if block.settings.subtitle_1 != blank -%}
                <div class="job-details-blocks__subsection">
                  <h3 class="job-details-blocks__subheading">{{ block.settings.subtitle_1 }}</h3>
                  {%- if block.settings.list_1 != blank -%}
                    <ul class="job-details-blocks__list">
                      {%- assign items = block.settings.list_1 | newline_to_br | split: '<br />' -%}
                      {%- for item in items -%}
                        {%- if item != blank -%}
                          <li class="job-details-blocks__list-item">
                            <img src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/svg_3.svg?v=1765964441" alt="" class="job-details-blocks__icon" loading="lazy" width="14" height="14">
                            <span>{{ item | strip }}</span>
                          </li>
                        {%- endif -%}
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                </div>
              {%- endif -%}

              {%- if block.settings.subtitle_2 != blank -%}
                <div class="job-details-blocks__subsection">
                  <h3 class="job-details-blocks__subheading">{{ block.settings.subtitle_2 }}</h3>
                  {%- if block.settings.list_2 != blank -%}
                    <ul class="job-details-blocks__list">
                      {%- assign items = block.settings.list_2 | newline_to_br | split: '<br />' -%}
                      {%- for item in items -%}
                        {%- if item != blank -%}
                          <li class="job-details-blocks__list-item">
                            <img src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/svg_3.svg?v=1765964441" alt="" class="job-details-blocks__icon" loading="lazy" width="14" height="14">
                            <span>{{ item | strip }}</span>
                          </li>
                        {%- endif -%}
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                </div>
              {%- endif -%}

              {%- if block.settings.subtitle_3 != blank -%}
                <div class="job-details-blocks__subsection">
                  <h3 class="job-details-blocks__subheading">{{ block.settings.subtitle_3 }}</h3>
                  {%- if block.settings.list_3 != blank -%}
                    <ul class="job-details-blocks__list">
                      {%- assign items = block.settings.list_3 | newline_to_br | split: '<br />' -%}
                      {%- for item in items -%}
                        {%- if item != blank -%}
                          <li class="job-details-blocks__list-item">
                            <img src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/svg_3.svg?v=1765964441" alt="" class="job-details-blocks__icon" loading="lazy" width="14" height="14">
                            <span>{{ item | strip }}</span>
                          </li>
                        {%- endif -%}
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                </div>
              {%- endif -%}
            </div>

          {%- when 'qualifications' -%}
            <div class="job-details-blocks__section" {{ block.shopify_attributes }}>
              {%- if block.settings.title != blank -%}
                <h2 class="job-details-blocks__heading">{{ block.settings.title }}</h2>
              {%- endif -%}
              <div class="job-details-blocks__columns">
                {%- if block.settings.required_title != blank -%}
                  <div class="job-details-blocks__column">
                    <h3 class="job-details-blocks__subheading">{{ block.settings.required_title }}</h3>
                    {%- if block.settings.required_list != blank -%}
                      <ul class="job-details-blocks__list">
                        {%- assign items = block.settings.required_list | newline_to_br | split: '<br />' -%}
                        {%- for item in items -%}
                          {%- if item != blank -%}
                            <li class="job-details-blocks__list-item">
                              <img src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/Frame_5.svg?v=1765964262" alt="" class="job-details-blocks__icon" loading="lazy" width="14" height="14">
                              <span>{{ item | strip }}</span>
                            </li>
                          {%- endif -%}
                        {%- endfor -%}
                      </ul>
                    {%- endif -%}
                  </div>
                {%- endif -%}
                {%- if block.settings.preferred_title != blank -%}
                  <div class="job-details-blocks__column">
                    <h3 class="job-details-blocks__subheading">{{ block.settings.preferred_title }}</h3>
                    {%- if block.settings.preferred_list != blank -%}
                      <ul class="job-details-blocks__list">
                        {%- assign items = block.settings.preferred_list | newline_to_br | split: '<br />' -%}
                        {%- for item in items -%}
                          {%- if item != blank -%}
                            <li class="job-details-blocks__list-item">
                              <img src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/svg_4.svg?v=1765964995" alt="" class="job-details-blocks__icon" loading="lazy" width="14" height="14">
                              <span>{{ item | strip }}</span>
                            </li>
                          {%- endif -%}
                        {%- endfor -%}
                      </ul>
                    {%- endif -%}
                  </div>
                {%- endif -%}
              </div>
            </div>

          {%- when 'what_we_offer' -%}
            <div class="job-details-blocks__section" {{ block.shopify_attributes }}>
              {%- if block.settings.title != blank -%}
                <h2 class="job-details-blocks__heading">{{ block.settings.title }}</h2>
              {%- endif -%}
              <div class="job-details-blocks__grid">
                {%- for i in (1..4) -%}
                  {%- assign title_key = 'card_title_' | append: i -%}
                  {%- assign desc_key = 'card_desc_' | append: i -%}
                  {%- assign icon_key = 'card_icon_' | append: i -%}
                  {%- if block.settings[title_key] != blank -%}
                    <div class="job-details-blocks__card">
                      <div class="job-details-blocks__card-icon">
                        {%- if block.settings[icon_key] != blank -%}
                          <img src="{{ block.settings[icon_key] }}" alt="" loading="lazy" width="24" height="24">
                        {%- else -%}
                          {%- case i -%}
                            {%- when 1 -%}
                              <img src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/svg_5.svg?v=1765965276" alt="" class="job-details-blocks__icon" loading="lazy" width="14" height="14">
                            {%- when 2 -%}
                              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" fill="currentColor"/>
                              </svg>
                            {%- when 3 -%}
                              <img src="https://cdn.shopify.com/s/files/1/0735/8172/3944/files/svg_6.svg?v=1765965300" alt="" class="job-details-blocks__icon" loading="lazy" width="14" height="14">
                            {%- when 4 -%}
                              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z" fill="currentColor"/>
                              </svg>
                          {%- endcase -%}
                        {%- endif -%}
                      </div>
                      <div class="what-we-offer-icons-container">
                      <h3 class="job-details-blocks__card-title">{{ block.settings[title_key] }}</h3>
                      {%- if block.settings[desc_key] != blank -%}
                        <p class="job-details-blocks__card-desc">{{ block.settings[desc_key] }}</p>
                      {%- endif -%}
                      </div>
                    </div>
                  {%- endif -%}
                {%- endfor -%}
              </div>
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>

    <div class="job-details-blocks__sidebar">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'job_highlights' -%}
            <div class="job-details-blocks__section" {{ block.shopify_attributes }}>
              {%- if block.settings.title != blank -%}
                <h2 class="job-details-blocks__heading">{{ block.settings.title }}</h2>
              {%- endif -%}
              <div class="job-details-blocks__highlights">
                {%- for i in (1..6) -%}
                  {%- assign label_key = 'label_' | append: i -%}
                  {%- assign value_key = 'value_' | append: i -%}
                  {%- if block.settings[label_key] != blank -%}
                    <div class="job-details-blocks__highlight-item">
                      <span class="job-details-blocks__highlight-label">{{ block.settings[label_key] }}</span>
                      <span class="job-details-blocks__highlight-value">{{ block.settings[value_key] }}</span>
                    </div>
                  {%- endif -%}
                {%- endfor -%}
              </div>
            </div>

          {%- when 'ready_to_apply' -%}
            <div class="job-details-blocks__section job-details-blocks__section--apply" {{ block.shopify_attributes }}>
              {%- if block.settings.title != blank -%}
                <h2 class="job-details-blocks__heading">{{ block.settings.title }}</h2>
              {%- endif -%}
              {%- if block.settings.description != blank -%}
                <p class="job-details-blocks__apply-desc">{{ block.settings.description }}</p>
              {%- endif -%}
              <div class="job-details-blocks__apply-buttons">
                <a href="https://wellnessextract.com/pages/marketing-lead" class="job-details-blocks__apply-btn" aria-label="Apply now">{{ block.settings.apply_button_text }}</a>
                <button type="button" class="job-details-blocks__save-btn" data-share-btn aria-label="Save for later">{{ block.settings.save_button_text }}</button>
              </div>
              {%- if block.settings.footer_text != blank -%}
                <p class="job-details-blocks__apply-footer">{{ block.settings.footer_text }}</p>
              {%- endif -%}
              <span class="job-details-blocks__apply-footer-email">
                <a href="mailto:hr@wellnessextract.com">hr@wellnessextract.com</a>
              </span>
            </div>

          {%- when 'similar_positions' -%}
            <div class="job-details-blocks__section" {{ block.shopify_attributes }}>
              {%- if block.settings.title != blank -%}
                <h2 class="job-details-blocks__heading">{{ block.settings.title }}</h2>
              {%- endif -%}
              <div class="job-details-blocks__similar">
                {%- assign job_count = 0 -%}
                {%- for i in (1..6) -%}
                  {%- assign job_title_key = 'job_title_' | append: i -%}
                  {%- if block.settings[job_title_key] != blank -%}
                    {%- assign job_count = job_count | plus: 1 -%}
                  {%- endif -%}
                {%- endfor -%}
                {%- for i in (1..6) -%}
                  {%- assign job_title_key = 'job_title_' | append: i -%}
                  {%- assign job_details_key = 'job_details_' | append: i -%}
                  {%- assign job_link_key = 'job_link_' | append: i -%}
                  {%- assign job_tag_key = 'job_tag_' | append: i -%}
                  {%- if block.settings[job_title_key] != blank -%}
                    <a href="{{ block.settings[job_link_key] | default: '#' }}" class="job-details-blocks__similar-item {% if i > 3 %}job-details-blocks__similar-item--hidden{% endif %}">
                      <h3 class="job-details-blocks__similar-title">{{ block.settings[job_title_key] }}</h3>
                      {%- if block.settings[job_details_key] != blank -%}
                        <p class="job-details-blocks__similar-details">{{ block.settings[job_details_key] }}</p>
                      {%- endif -%}
                      <span class="job-details-blocks__similar-tag">{{ block.settings[job_tag_key] | default: 'Full-time' }}</span>
                    </a>
                  {%- endif -%}
                {%- endfor -%}
                {%- if block.settings.view_all_text != blank and job_count > 3 -%}
                  <button type="button" class="job-details-blocks__view-all-btn" data-view-all-btn>{{ block.settings.view_all_text }}</button>
                {%- endif -%}
              </div>
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

<script>
  (function() {
    const shareButtons = document.querySelectorAll('[data-share-btn]');
    shareButtons.forEach(function(btn) {
      btn.addEventListener('click', function() {
        const url = window.location.href;
        const title = document.querySelector('h1')?.textContent || 'Job Listing';
        
        if (navigator.share) {
          navigator.share({
            title: title,
            text: 'Check out this job opportunity',
            url: url
          }).catch(function(err) {
            console.log('Error sharing:', err);
          });
        } else {
          navigator.clipboard.writeText(url).then(function() {
            alert('Job link copied to clipboard!');
          }).catch(function() {
            const emailSubject = encodeURIComponent(title);
            const emailBody = encodeURIComponent('Check out this job: ' + url);
            window.location.href = 'mailto:?subject=' + emailSubject + '&body=' + emailBody;
          });
        }
      });
    });

    // View All toggle functionality
    const viewAllButtons = document.querySelectorAll('[data-view-all-btn]');
    viewAllButtons.forEach(function(btn) {
      btn.addEventListener('click', function() {
        const similarSection = btn.closest('.job-details-blocks__similar');
        if (!similarSection) return;
        
        const hiddenItems = similarSection.querySelectorAll('.job-details-blocks__similar-item--hidden');
        hiddenItems.forEach(function(item) {
          item.classList.remove('job-details-blocks__similar-item--hidden');
        });
        
        btn.style.display = 'none';
      });
    });
  })();
</script>

<style>
  #shopify-section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top_desktop | default: 48 }}px;
    padding-bottom: {{ section.settings.padding_bottom_desktop | default: 48 }}px;
    background: #f6f9fd;
  }

  #shopify-section-{{ section.id }} .job-details-blocks {
    width: 100%;
    padding: 0 16px;
    color: #6b7280;
    box-sizing: border-box;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 350px;
    gap: 48px;
    align-items: start;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__main {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__sidebar {
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: sticky;
    top: 24px;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #ffffff;
    border-radius: 12px;
    padding: 32px;
    border: 1px solid #faf2f2;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08), 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.2s ease; */
  }

  #shopify-section-{{ section.id }} .job-details-blocks__section--apply {
    background: #e0f2fe;
    border: 1px solid #cde5f5;
  }

  /* #shopify-section-{{ section.id }} .job-details-blocks__section:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12), 0 2px 6px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
  } */

  #shopify-section-{{ section.id }} .job-details-blocks__heading {
    margin: 0;
    font-size: 26px;
    font-weight: 700;
    color: #111827;
    line-height: 1.3;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__description {
    font-size: 16px;
    line-height: 1.6;
    color: #6b7280;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__subsection {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 24px;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__subsection:first-child {
    margin-top: 0;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__subheading {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color: #111827;
    line-height: 1.4;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__section--about-role .job-details-blocks__list {
    padding-top: 10px;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__list-item {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-size: 16px;
    line-height: 1.6;
    color: #6b7280;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__icon {
    width: 14px;
    height: 14px;
    object-fit: contain;
    flex-shrink: 0;
    margin-top: 4px;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__section--key-responsibilities .job-details-blocks__icon {
    width: 8px;
    height: 8px;
    object-fit: contain;
    flex-shrink: 0;
    margin-top: auto;
    margin-bottom: auto;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin-top: 8px;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__column {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 8px;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__card {
    background: #ffffff;
    border: none;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    /* flex-direction: column; */
    gap: 12px;
    box-shadow: none;
    transition: none;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__card:hover {
    box-shadow: none;
    transform: none;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__card-icon {
    width: 48px;
    height: 48px;
    background: #DBEAFE;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__card-icon img,
  #shopify-section-{{ section.id }} .job-details-blocks__card-icon svg {
    width: 24px;
    height: 24px;
    color: #086b92;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__card-icon svg {
    fill: currentColor;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__card-title {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    color: #111827;
    line-height: 1.4;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__card-desc {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    color: #6b7280;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__highlights {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 8px;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__highlight-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 6px;
    /* border-bottom: 1px solid #e5e7eb; */
  }

  #shopify-section-{{ section.id }} .job-details-blocks__highlight-item:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__highlight-label {
    font-size: 14px;
    color: #6b7280;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__highlight-value {
    font-size: 14px;
    font-weight: 600;
    color: #111827;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__apply-desc {
    margin: 0 0 20px;
    font-size: 14px;
    line-height: 1.6;
    color: #6b7280;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__apply-buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 16px;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__apply-btn {
    background: #086b92;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    font-weight: 600;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    font-size: 14px;
    width: 100%;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__apply-btn:hover {
    transform: translateY(-1px);
    box-shadow: 0 6px 14px rgba(8, 107, 146, 0.25);
  }

  #shopify-section-{{ section.id }} .job-details-blocks__save-btn {
    background: transparent;
    color: #086b92;
    border: 1px solid #086b92;
    padding: 11px 20px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: color 0.2s ease, background 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
    font-size: 14px;
    width: 100%;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__save-btn:hover {
    background: rgba(8, 107, 146, 0.08);
    transform: translateY(-1px);
    box-shadow: 0 6px 14px rgba(8, 107, 146, 0.15);
  }

  #shopify-section-{{ section.id }} .job-details-blocks__apply-footer {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    color: #6b7280;
    text-align: left;
    border-top: 1px solid #B5E3F6;
    padding-top: 10px;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__apply-footer a {
    color: #086B92;
    text-decoration: none;
    font-weight: 600;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__apply-footer a:hover {
    text-decoration: underline;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__apply-footer-email,
  #shopify-section-{{ section.id }} .job-details-blocks__apply-footer-email a {
    color: #086B92;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__similar {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 8px;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__similar-item {
    background: #f8fafc;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    padding: 16px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  }

  #shopify-section-{{ section.id }} .job-details-blocks__similar-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  #shopify-section-{{ section.id }} .job-details-blocks__similar-title {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    color: #111827;
    line-height: 1.4;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__similar-details {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    color: #6b7280;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__similar-tag {
    display: inline-block;
    background: #DBEAFE;
    color: #086b92;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 600;
    width: fit-content;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__similar-item--hidden {
    display: none;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__similar-item--visible {
    display: flex;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__view-all-btn {
    display: inline-block;
    background: transparent;
    color: #086b92;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-top: 8px;
    padding: 0;
    transition: color 0.2s ease;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__view-all-btn:hover {
    color: #065a7a;
    text-decoration: underline;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__view-all {
    display: inline-block;
    color: #086b92;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    margin-top: 8px;
    transition: color 0.2s ease;
  }

  #shopify-section-{{ section.id }} .job-details-blocks__view-all:hover {
    color: #065a7a;
    text-decoration: underline;
  }

  @media (max-width: 1024px) {
    #shopify-section-{{ section.id }} .job-details-blocks__container {
      grid-template-columns: 1fr;
      gap: 40px;
    }

    #shopify-section-{{ section.id }} .job-details-blocks__sidebar {
      position: static;
    }
  }

  @media (max-width: 768px) {
    #shopify-section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top_mobile | default: 32 }}px;
      padding-bottom: {{ section.settings.padding_bottom_mobile | default: 32 }}px;
    }

    #shopify-section-{{ section.id }} .job-details-blocks {
      padding: 0 14px;
    }

    #shopify-section-{{ section.id }} .job-details-blocks__card {
      padding: 10px !important;
    }

    #shopify-section-{{ section.id }} .job-details-blocks__container {
      gap: 32px;
    }

    #shopify-section-{{ section.id }} .job-details-blocks__main {
      gap: 32px;
    }

    #shopify-section-{{ section.id }} .job-details-blocks__section {
      padding: 24px;
    }

    #shopify-section-{{ section.id }} .job-details-blocks__columns {
      grid-template-columns: 1fr;
      gap: 24px;
    }

    #shopify-section-{{ section.id }} .job-details-blocks__grid {
      grid-template-columns: 1fr;
      gap: 16px;
    }

    #shopify-section-{{ section.id }} .job-details-blocks__heading {
      font-size: 20px;
    }

    #shopify-section-{{ section.id }} .job-details-blocks__subheading {
      font-size: 16px;
    }
  }

  @media (max-width: 640px) {
    #shopify-section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top_mobile | default: 24 }}px;
      padding-bottom: {{ section.settings.padding_bottom_mobile | default: 24 }}px;
    }

    #shopify-section-{{ section.id }} .job-details-blocks {
      padding: 0 12px;
    }

    #shopify-section-{{ section.id }} .job-details-blocks__section {
      padding: 20px;
    }
  }
</style>

{% schema %}
{
  "name": "JobDetails sidebar Blocks",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "label": "Padding Top (Desktop)",
      "min": 0,
      "max": 100,
      "step": 4,
      "default": 48,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "label": "Padding Bottom (Desktop)",
      "min": 0,
      "max": 100,
      "step": 4,
      "default": 48,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "label": "Padding Top (Mobile)",
      "min": 0,
      "max": 80,
      "step": 4,
      "default": 32,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "label": "Padding Bottom (Mobile)",
      "min": 0,
      "max": 80,
      "step": 4,
      "default": 32,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "type": "about_role",
      "name": "About the Role",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "About the Role"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "textarea",
          "id": "key_points",
          "label": "Key Points (one per line)"
        }
      ]
    },
    {
      "type": "key_responsibilities",
      "name": "Key Responsibilities",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Key Responsibilities"
        },
        {
          "type": "text",
          "id": "subtitle_1",
          "label": "Subsection 1 Title",
          "default": "Product Strategy & Vision"
        },
        {
          "type": "textarea",
          "id": "list_1",
          "label": "Subsection 1 Items (one per line)"
        },
        {
          "type": "text",
          "id": "subtitle_2",
          "label": "Subsection 2 Title",
          "default": "Execution & Delivery"
        },
        {
          "type": "textarea",
          "id": "list_2",
          "label": "Subsection 2 Items (one per line)"
        },
        {
          "type": "text",
          "id": "subtitle_3",
          "label": "Subsection 3 Title",
          "default": "Collaboration & Leadership"
        },
        {
          "type": "textarea",
          "id": "list_3",
          "label": "Subsection 3 Items (one per line)"
        }
      ]
    },
    {
      "type": "qualifications",
      "name": "Qualifications",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Qualifications"
        },
        {
          "type": "text",
          "id": "required_title",
          "label": "Required Title",
          "default": "Required"
        },
        {
          "type": "textarea",
          "id": "required_list",
          "label": "Required Items (one per line)"
        },
        {
          "type": "text",
          "id": "preferred_title",
          "label": "Preferred Title",
          "default": "Preferred"
        },
        {
          "type": "textarea",
          "id": "preferred_list",
          "label": "Preferred Items (one per line)"
        }
      ]
    },
    {
      "type": "what_we_offer",
      "name": "What We Offer",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "What We Offer"
        },
        {
          "type": "text",
          "id": "card_title_1",
          "label": "Card 1 Title",
          "default": "Competitive Salary"
        },
        {
          "type": "text",
          "id": "card_desc_1",
          "label": "Card 1 Description",
          "default": "$140k - $180k + equity package"
        },
        {
          "type": "url",
          "id": "card_icon_1",
          "label": "Card 1 Icon URL (optional)"
        },
        {
          "type": "text",
          "id": "card_title_2",
          "label": "Card 2 Title",
          "default": "Health & Wellness"
        },
        {
          "type": "text",
          "id": "card_desc_2",
          "label": "Card 2 Description",
          "default": "Premium health, dental, vision coverage"
        },
        {
          "type": "url",
          "id": "card_icon_2",
          "label": "Card 2 Icon URL (optional)"
        },
        {
          "type": "text",
          "id": "card_title_3",
          "label": "Card 3 Title",
          "default": "Flexible Time Off"
        },
        {
          "type": "text",
          "id": "card_desc_3",
          "label": "Card 3 Description",
          "default": "Unlimited PTO + company holidays"
        },
        {
          "type": "url",
          "id": "card_icon_3",
          "label": "Card 3 Icon URL (optional)"
        },
        {
          "type": "text",
          "id": "card_title_4",
          "label": "Card 4 Title",
          "default": "Learning Budget"
        },
        {
          "type": "text",
          "id": "card_desc_4",
          "label": "Card 4 Description",
          "default": "$2000 annual development budget"
        },
        {
          "type": "url",
          "id": "card_icon_4",
          "label": "Card 4 Icon URL (optional)"
        }
      ]
    },
    {
      "type": "job_highlights",
      "name": "Job Highlights",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Job Highlights"
        },
        {
          "type": "text",
          "id": "label_1",
          "label": "Highlight 1 Label",
          "default": "Position Type"
        },
        {
          "type": "text",
          "id": "value_1",
          "label": "Highlight 1 Value",
          "default": "Full-time"
        },
        {
          "type": "text",
          "id": "label_2",
          "label": "Highlight 2 Label",
          "default": "Location"
        },
        {
          "type": "text",
          "id": "value_2",
          "label": "Highlight 2 Value",
          "default": "SF / Remote"
        },
        {
          "type": "text",
          "id": "label_3",
          "label": "Highlight 3 Label",
          "default": "Department"
        },
        {
          "type": "text",
          "id": "value_3",
          "label": "Highlight 3 Value",
          "default": "Product"
        },
        {
          "type": "text",
          "id": "label_4",
          "label": "Highlight 4 Label",
          "default": "Reports To"
        },
        {
          "type": "text",
          "id": "value_4",
          "label": "Highlight 4 Value",
          "default": "VP of Product"
        },
        {
          "type": "text",
          "id": "label_5",
          "label": "Highlight 5 Label",
          "default": "Posted"
        },
        {
          "type": "text",
          "id": "value_5",
          "label": "Highlight 5 Value",
          "default": "2 days ago"
        },
        {
          "type": "text",
          "id": "label_6",
          "label": "Highlight 6 Label",
          "default": "Deadline"
        },
        {
          "type": "text",
          "id": "value_6",
          "label": "Highlight 6 Value",
          "default": "Nov 15, 2024"
        }
      ]
    },
    {
      "type": "ready_to_apply",
      "name": "Ready to Apply",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Ready to Apply?"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description",
          "default": "Join our mission to transform wellness technology and make a meaningful impact."
        },
        {
          "type": "text",
          "id": "apply_button_text",
          "label": "Apply Button Text",
          "default": "Apply Now"
        },
        {
          "type": "text",
          "id": "save_button_text",
          "label": "Save Button Text",
          "default": "Save for Later"
        },
        {
          "type": "text",
          "id": "footer_text",
          "label": "Footer Text",
          "default": "Don't see what you're looking for? Email hr@wellnessextract.com"
        }
      ]
    },
    {
      "type": "similar_positions",
      "name": "Similar Positions",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Similar Positions"
        },
        {
          "type": "text",
          "id": "job_title_1",
          "label": "Job 1 Title",
          "default": "Product Designer"
        },
        {
          "type": "text",
          "id": "job_details_1",
          "label": "Job 1 Details",
          "default": "Design • San Francisco"
        },
        {
          "type": "url",
          "id": "job_link_1",
          "label": "Job 1 Link"
        },
        {
          "type": "text",
          "id": "job_tag_1",
          "label": "Job 1 Tag",
          "default": "Full-time"
        },
        {
          "type": "text",
          "id": "job_title_2",
          "label": "Job 2 Title",
          "default": "Engineering Manager"
        },
        {
          "type": "text",
          "id": "job_details_2",
          "label": "Job 2 Details",
          "default": "Engineering • Remote"
        },
        {
          "type": "url",
          "id": "job_link_2",
          "label": "Job 2 Link"
        },
        {
          "type": "text",
          "id": "job_tag_2",
          "label": "Job 2 Tag",
          "default": "Full-time"
        },
        {
          "type": "text",
          "id": "job_title_3",
          "label": "Job 3 Title",
          "default": "Data Scientist"
        },
        {
          "type": "text",
          "id": "job_details_3",
          "label": "Job 3 Details",
          "default": "Analytics • San Francisco"
        },
        {
          "type": "url",
          "id": "job_link_3",
          "label": "Job 3 Link"
        },
        {
          "type": "text",
          "id": "job_tag_3",
          "label": "Job 3 Tag",
          "default": "Full-time"
        },
        {
          "type": "text",
          "id": "job_title_4",
          "label": "Job 4 Title"
        },
        {
          "type": "text",
          "id": "job_details_4",
          "label": "Job 4 Details"
        },
        {
          "type": "url",
          "id": "job_link_4",
          "label": "Job 4 Link"
        },
        {
          "type": "text",
          "id": "job_tag_4",
          "label": "Job 4 Tag",
          "default": "Full-time"
        },
        {
          "type": "text",
          "id": "job_title_5",
          "label": "Job 5 Title"
        },
        {
          "type": "text",
          "id": "job_details_5",
          "label": "Job 5 Details"
        },
        {
          "type": "url",
          "id": "job_link_5",
          "label": "Job 5 Link"
        },
        {
          "type": "text",
          "id": "job_tag_5",
          "label": "Job 5 Tag",
          "default": "Full-time"
        },
        {
          "type": "text",
          "id": "job_title_6",
          "label": "Job 6 Title"
        },
        {
          "type": "text",
          "id": "job_details_6",
          "label": "Job 6 Details"
        },
        {
          "type": "url",
          "id": "job_link_6",
          "label": "Job 6 Link"
        },
        {
          "type": "text",
          "id": "job_tag_6",
          "label": "Job 6 Tag",
          "default": "Full-time"
        },
        {
          "type": "text",
          "id": "view_all_text",
          "label": "View All Text",
          "default": "View All Open Positions +"
        },
        {
          "type": "url",
          "id": "view_all_link",
          "label": "View All Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "JobDetails sidebar Blocks",
      "blocks": [
        {
          "type": "about_role"
        },
        {
          "type": "key_responsibilities"
        },
        {
          "type": "qualifications"
        },
        {
          "type": "what_we_offer"
        },
        {
          "type": "job_highlights"
        },
        {
          "type": "ready_to_apply"
        },
        {
          "type": "similar_positions"
        }
      ]
    }
  ]
}
{% endschema %}
