<!--product-testimonial-third. -->
{% assign testimonial1 = product.metafields.custom.product_3_0_testimonial_slider_review.value %}

{% if testimonial1 != blank %}
<section class="testimonial-third" id="testimonial-third-{{ section.id }}" {% if section.settings.bgcolor!= blank %}style="background-color:{{ section.settings.bgcolor }}"{% endif %}>
  <div class="container">
    
    {% if section.settings.titlefaq != blank %}
      <div class="faq__header">
        <h2 class="faq_title">{{ section.settings.titlefaq }}</h2>
      </div>
    {% endif %}

    <div class="testimonial_slider_third">
  {% for testimonial in testimonial1 %}
     {% if testimonial.review_card_title1 != blank %}
      <div class="testimonial-card-third" style="background-color:{{ section.settings.bgcard }};">
        {% if testimonial.review_card_icon_url1 != blank %}
          <div class="testimonial-card-third__icon" aria-hidden="true">
            {{ testimonial.review_card_icon_url1 }}
          </div>
        {% endif %}
        <div class="testimonial-card-third__rating" aria-label="5 star rating">
          {% render 'product-third-star-review' %} 
        </div>
        
        <h2 class="testimonial-card-third__title">{{ testimonial.review_card_title1 }}</h2>
        {% if testimonial.review_card_description1 != blank %}
          <p class="testimonial-card-third__text">
            {{ testimonial.review_card_description1 }}
          </p>
        {% endif %}
        {% if testimonial.review_card_author_name1 != blank %}
          <footer>
            <p class="testimonial-card-third__author">{{ testimonial.review_card_author_name1 }}</p>
          </footer>
        {% endif %}
      </div>
    {% endif %}

       {% if testimonial.review_card_title1 != blank %}
      <div class="testimonial-card-third" style="background-color:{{ section.settings.bgcard }};">
        {% if testimonial.review_card_icon_url1 != blank %}
          <div class="testimonial-card-third__icon" aria-hidden="true">
            {{ testimonial.review_card_icon_url1 }}
          </div>
        {% endif %}
        <div class="testimonial-card-third__rating" aria-label="5 star rating">
          {% render 'product-third-star-review' %} 
        </div>
        
        <h2 class="testimonial-card-third__title">{{ testimonial.review_card_title1 }}</h2>
        {% if testimonial.review_card_description1 != blank %}
          <p class="testimonial-card-third__text">
            {{ testimonial.review_card_description1 }}
          </p>
        {% endif %}
        {% if testimonial.review_card_author_name1 != blank %}
          <footer>
            <p class="testimonial-card-third__author">{{ testimonial.review_card_author_name1 }}</p>
          </footer>
        {% endif %}
      </div>
    {% endif %}

       {% if testimonial.review_card_title1 != blank %}
      <div class="testimonial-card-third" style="background-color:{{ section.settings.bgcard }};">
        {% if testimonial.review_card_icon_url1 != blank %}
          <div class="testimonial-card-third__icon" aria-hidden="true">
            {{ testimonial.review_card_icon_url1 }}
          </div>
        {% endif %}
        <div class="testimonial-card-third__rating" aria-label="5 star rating">
          {% render 'product-third-star-review' %} 
        </div>
        
        <h2 class="testimonial-card-third__title">{{ testimonial.review_card_title1 }}</h2>
        {% if testimonial.review_card_description1 != blank %}
          <p class="testimonial-card-third__text">
            {{ testimonial.review_card_description1 }}
          </p>
        {% endif %}
        {% if testimonial.review_card_author_name1 != blank %}
          <footer>
            <p class="testimonial-card-third__author">{{ testimonial.review_card_author_name1 }}</p>
          </footer>
        {% endif %}
      </div>
    {% endif %}


       {% if testimonial.review_card_title1 != blank %}
      <div class="testimonial-card-third" style="background-color:{{ section.settings.bgcard }};">
        {% if testimonial.review_card_icon_url1 != blank %}
          <div class="testimonial-card-third__icon" aria-hidden="true">
            {{ testimonial.review_card_icon_url1 }}
          </div>
        {% endif %}
        <div class="testimonial-card-third__rating" aria-label="5 star rating">
          {% render 'product-third-star-review' %} 
        </div>
        
        <h2 class="testimonial-card-third__title">{{ testimonial.review_card_title1 }}</h2>
        {% if testimonial.review_card_description1 != blank %}
          <p class="testimonial-card-third__text">
            {{ testimonial.review_card_description1 }}
          </p>
        {% endif %}
        {% if testimonial.review_card_author_name1 != blank %}
          <footer>
            <p class="testimonial-card-third__author">{{ testimonial.review_card_author_name1 }}</p>
          </footer>
        {% endif %}
      </div>
    {% endif %}

       {% if testimonial.review_card_title1 != blank %}
      <div class="testimonial-card-third" style="background-color:{{ section.settings.bgcard }};">
        {% if testimonial.review_card_icon_url1 != blank %}
          <div class="testimonial-card-third__icon" aria-hidden="true">
            {{ testimonial.review_card_icon_url1 }}
          </div>
        {% endif %}
        <div class="testimonial-card-third__rating" aria-label="5 star rating">
          {% render 'product-third-star-review' %} 
        </div>
        
        <h2 class="testimonial-card-third__title">{{ testimonial.review_card_title1 }}</h2>
        {% if testimonial.review_card_description1 != blank %}
          <p class="testimonial-card-third__text">
            {{ testimonial.review_card_description1 }}
          </p>
        {% endif %}
        {% if testimonial.review_card_author_name1 != blank %}
          <footer>
            <p class="testimonial-card-third__author">{{ testimonial.review_card_author_name1 }}</p>
          </footer>
        {% endif %}
      </div>
    {% endif %}

       {% if testimonial.review_card_title1 != blank %}
      <div class="testimonial-card-third" style="background-color:{{ section.settings.bgcard }};">
        {% if testimonial.review_card_icon_url1 != blank %}
          <div class="testimonial-card-third__icon" aria-hidden="true">
            {{ testimonial.review_card_icon_url1 }}
          </div>
        {% endif %}
        <div class="testimonial-card-third__rating" aria-label="5 star rating">
          {% render 'product-third-star-review' %} 
        </div>
        
        <h2 class="testimonial-card-third__title">{{ testimonial.review_card_title1 }}</h2>
        {% if testimonial.review_card_description1 != blank %}
          <p class="testimonial-card-third__text">
            {{ testimonial.review_card_description1 }}
          </p>
        {% endif %}
        {% if testimonial.review_card_author_name1 != blank %}
          <footer>
            <p class="testimonial-card-third__author">{{ testimonial.review_card_author_name1 }}</p>
          </footer>
        {% endif %}
      </div>
    {% endif %}

       {% if testimonial.review_card_title1 != blank %}
      <div class="testimonial-card-third" style="background-color:{{ section.settings.bgcard }};">
        {% if testimonial.review_card_icon_url1 != blank %}
          <div class="testimonial-card-third__icon" aria-hidden="true">
            {{ testimonial.review_card_icon_url1 }}
          </div>
        {% endif %}
        <div class="testimonial-card-third__rating" aria-label="5 star rating">
          {% render 'product-third-star-review' %} 
        </div>
        
        <h2 class="testimonial-card-third__title">{{ testimonial.review_card_title1 }}</h2>
        {% if testimonial.review_card_description1 != blank %}
          <p class="testimonial-card-third__text">
            {{ testimonial.review_card_description1 }}
          </p>
        {% endif %}
        {% if testimonial.review_card_author_name1 != blank %}
          <footer>
            <p class="testimonial-card-third__author">{{ testimonial.review_card_author_name1 }}</p>
          </footer>
        {% endif %}
      </div>
    {% endif %}

       {% if testimonial.review_card_title1 != blank %}
      <div class="testimonial-card-third" style="background-color:{{ section.settings.bgcard }};">
        {% if testimonial.review_card_icon_url1 != blank %}
          <div class="testimonial-card-third__icon" aria-hidden="true">
            {{ testimonial.review_card_icon_url1 }}
          </div>
        {% endif %}
        <div class="testimonial-card-third__rating" aria-label="5 star rating">
          {% render 'product-third-star-review' %} 
        </div>
        
        <h2 class="testimonial-card-third__title">{{ testimonial.review_card_title1 }}</h2>
        {% if testimonial.review_card_description1 != blank %}
          <p class="testimonial-card-third__text">
            {{ testimonial.review_card_description1 }}
          </p>
        {% endif %}
        {% if testimonial.review_card_author_name1 != blank %}
          <footer>
            <p class="testimonial-card-third__author">{{ testimonial.review_card_author_name1 }}</p>
          </footer>
        {% endif %}
      </div>
    {% endif %}

       {% if testimonial.review_card_title1 != blank %}
      <div class="testimonial-card-third" style="background-color:{{ section.settings.bgcard }};">
        {% if testimonial.review_card_icon_url1 != blank %}
          <div class="testimonial-card-third__icon" aria-hidden="true">
            {{ testimonial.review_card_icon_url1 }}
          </div>
        {% endif %}
        <div class="testimonial-card-third__rating" aria-label="5 star rating">
          {% render 'product-third-star-review' %} 
        </div>
        
        <h2 class="testimonial-card-third__title">{{ testimonial.review_card_title1 }}</h2>
        {% if testimonial.review_card_description1 != blank %}
          <p class="testimonial-card-third__text">
            {{ testimonial.review_card_description1 }}
          </p>
        {% endif %}
        {% if testimonial.review_card_author_name1 != blank %}
          <footer>
            <p class="testimonial-card-third__author">{{ testimonial.review_card_author_name1 }}</p>
          </footer>
        {% endif %}
      </div>
    {% endif %}

       {% if testimonial.review_card_title1 != blank %}
      <div class="testimonial-card-third" style="background-color:{{ section.settings.bgcard }};">
        {% if testimonial.review_card_icon_url1 != blank %}
          <div class="testimonial-card-third__icon" aria-hidden="true">
            {{ testimonial.review_card_icon_url1 }}
          </div>
        {% endif %}
        <div class="testimonial-card-third__rating" aria-label="5 star rating">
          {% render 'product-third-star-review' %} 
        </div>
        
        <h2 class="testimonial-card-third__title">{{ testimonial.review_card_title1 }}</h2>
        {% if testimonial.review_card_description1 != blank %}
          <p class="testimonial-card-third__text">
            {{ testimonial.review_card_description1 }}
          </p>
        {% endif %}
        {% if testimonial.review_card_author_name1 != blank %}
          <footer>
            <p class="testimonial-card-third__author">{{ testimonial.review_card_author_name1 }}</p>
          </footer>
        {% endif %}
      </div>
    {% endif %}

       {% if testimonial.review_card_title1 != blank %}
      <div class="testimonial-card-third" style="background-color:{{ section.settings.bgcard }};">
        {% if testimonial.review_card_icon_url1 != blank %}
          <div class="testimonial-card-third__icon" aria-hidden="true">
            {{ testimonial.review_card_icon_url1 }}
          </div>
        {% endif %}
        <div class="testimonial-card-third__rating" aria-label="5 star rating">
          {% render 'product-third-star-review' %} 
        </div>
        
        <h2 class="testimonial-card-third__title">{{ testimonial.review_card_title1 }}</h2>
        {% if testimonial.review_card_description1 != blank %}
          <p class="testimonial-card-third__text">
            {{ testimonial.review_card_description1 }}
          </p>
        {% endif %}
        {% if testimonial.review_card_author_name1 != blank %}
          <footer>
            <p class="testimonial-card-third__author">{{ testimonial.review_card_author_name1 }}</p>
          </footer>
        {% endif %}
      </div>
    {% endif %}

      

    


        {% endfor %}
      </div>
      
  </div>
</section>

<style>
    #testimonial-third-{{ section.id }} {
    padding: 50px 0px;
    text-align: center;
    }
    
    .faq__header {
    margin-bottom: 20px;
    }
    
    #testimonial-third-{{ section.id }} .faq_title {
    letter-spacing: 0.68px;
    text-transform: capitalize;
    color: #086B92;
    text-align: center;
    font-family: Nunito;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    margin-top: 0;
    margin-bottom: 20px;
    }
  
    #testimonial-third-{{ section.id }} .testimonial_slider_third {
    margin: 0 auto;
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    padding-bottom: 2.5rem;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
    }
    #testimonial-third-{{ section.id }} .slick-active button {
    border-radius: 30px;
    width: 22px;
    height: 8px;
    }
    #testimonial-third-{{ section.id }} .slick-dots li,
    #testimonial-third-{{ section.id }} .slider-dots li{
    margin: 0px 3px;
    }
    
 #testimonial-third-{{ section.id }} .testimonial-card-third {
   flex: 0 0 315px;
    padding: 24px 20px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    position: relative;
    width: 100%;
    }

  
    #testimonial-third-{{ section.id }} .testimonial-card-third__icon {
      width: 44px;
      height: 44px;
      background-color: #000;
      color: #fff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      font-weight: bold;
      position: absolute;
      top: -22px;
      left: 50%;
      transform: translateX(-50%);
    }
#testimonial-third-{{ section.id }} .testimonial-card-third__title,
    #testimonial-third-{{ section.id }} .testimonial-card-third__text,
   #testimonial-third-{{ section.id }} .testimonial-card-third__author,
 #testimonial-third-{{ section.id }} .testimonial-card-third__rating {
    text-align: left;
}
  
 #testimonial-third-{{ section.id }} .testimonial-card-third__rating svg {
    fill: #FFA25F;
    stroke: #FFA25F;
    width: 75px;
    height: auto;
}

   #testimonial-third-{{ section.id }} .testimonial-card-third__title {
      font-weight: 600;
      font-size: 17px;
      margin: 12px 0 8px;
      color: #222;
    }

    #testimonial-third-{{ section.id }} .testimonial-card-third__text {
      font-size: 16px;
      color: var(--color-text);
      line-height: 1.6;
      margin-top: 10px;
    }

    #testimonial-third-{{ section.id }} .testimonial-card-third__author {
      font-weight: 600;
      margin-top: 18px;
      font-size: 14px;
      color: #333;
    }
  
    #testimonial-third-{{ section.id }} .slick-dots {
    margin-top: 30px;
    }
    
   #testimonial-third-{{ section.id }} .slick-dots li button:before {
    color: #00587A;
    }
    #testimonial-third-{{ section.id }}  .slick-dots, 
    #testimonial-third-{{ section.id }} .slider-dots{
    bottom: -5px;
    }

  
/* Tablet */
@media (max-width: 1025px) {
    #testimonial-third-{{ section.id }} h2.faq_title {
    margin-bottom: 20px;
    color: #374650;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.68px;
    }

}

/* Mobile */
@media (max-width: 769px) {
    #testimonial-third-{{ section.id }} h2.faq_title {
    font-size: 28px;
    line-height: 48px;
    }
    
    #testimonial-third-{{ section.id }} .faq__header {
    margin-bottom: 20px;
    }
    
    #testimonial-third-{{ section.id }} .testimonial_slider_third {
    gap: 0;
    }
    
   
    #testimonial-third-{{ section.id }} {
    padding:10px 0px 25px;
    }
}
  @media(max-width: 550px){
   
  }
</style>
{% endif %}

<script>
  $(document).ready(function(){
    $('#testimonial-third{{ section.id }} .testimonial_slider_third').slick({
      dots: false,
      infinite: true,
      arrows: false,
      speed: 700,
      autoplay: true,
      autoplaySpeed: 3000,
      slidesToShow: 3,
      slidesToScroll: 1,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 2.2
          }
        },
        {
          breakpoint: 768,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
            infinite: true
          }
        },
        {
          breakpoint: 500,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
            infinite: true,
             dots: true,
          }
        }
      ]
    });
  });
</script>

{% schema %}
{
  "name": "Meta FAQ's 3.0",
  "settings": [
     {
      "type": "color",
      "id": "bgcolor",
      "label": "Section Bg Color",
       "default": "#f2f3f9"
    },
     {
      "type": "color",
      "id": "bgcard",
      "label": "Card Bg Color",
       "default": "#fff"
    },
    {
      "type": "color",
      "id": "title",
      "label": "Title Color",
       "default": "#000"
    },
    {
      "type": "color",
      "id": "description",
      "label": "Description Color",
       "default": "#333"
    },
    {
      "type": "color",
      "id": "author",
      "label": "Author Color",
       "default": "#3f3f3f"
    },
    {
      "type": "text",
      "id": "titlefaq",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "Meta FAQ's 3.0"
    }
  ]
}
{% endschema %}
