<!-- scientific-slider-thirdO -->
{% assign science_content = product.metafields.custom.product_3_0_science_slide.value %}

{% if science_content != blank %}
<section class="scientific-section" id="scientifically-backed_{{ section.id }}">
  <div class="container">
      <div class="scientific-header">
        {% if section.settings.scientific_main_title != blank %}
          <h2 class="scientific-title">{{ section.settings.scientific_main_title }}</h2>
        {% endif %}
        {% if product.metafields.custom.product_3_0_science_slide_description.value != blank %}
          <p class="scientific-subtitle">{{ product.metafields.custom.product_3_0_science_slide_description.value }}</p>
        {% endif %}
      </div>


    <div class="scientific-slider">
      {% for block in science_content %}
         {% assign text_break = block | split: '|' %}
        <div class="scientific-card">
           {% comment %}
             <div class="scientific-quote-icon">
              <img src="{{ text_break[0] | strip  }}" alt="" title="" width="" height="">
            </div>
           {% endcomment %} 
            
            <p class="scientific-quote-text">
              {{ text_break[0] | strip  }}
                <a href="{{ text_break[1] | strip  }}" class="scientific-note">Here's How</a>
            </p>
        </div>
      {% endfor %}
    </div>
  </div>
 </section>
{% endif %}



{% assign science_content = product.metafields.custom.product_3_0_science_slider.value %}

{% if science_content != blank %}
<section class="scientific-section" id="scientifically-backed_{{ section.id }}">
  <div class="container">

    {% for block in science_content %}
      <div class="scientific-header">
        {% if block.scientific_main_title != blank %}
          <h2 class="scientific-title">{{ block.scientific_main_title }}</h2>
        {% endif %}
        {% if block.scientific_main_description != blank %}
          <p class="scientific-subtitle">{{ block.scientific_main_description }}</p>
        {% endif %}
      </div>
    {% endfor %}

    <div class="scientific-slider">
      {% for block in science_content %}
        <div class="scientific-card">
          {% if block.scientific_card_image_url != blank %}
            <div class="scientific-quote-icon">
              <img src="{{ block.scientific_card_image_url }}" alt="" title="">
            </div>
          {% endif %}

          {% if block.scientific_card_content != blank %}
            <p class="scientific-quote-text">
              {{ block.scientific_card_content }}
              {% if block.scientific_card_small_content != blank %}
                <a href="{{ block.scientific_card_link1 }}" class="scientific-note">{{ block.scientific_card_small_content }}</a>
              {% endif %}
            </p>
          {% endif %}

        </div>
      {% endfor %}
    </div>
  </div>
 </section>

<style>
    #scientifically-backed_{{ section.id }} {
    background: linear-gradient(180deg, #f8f8f8 0%, #FEF8E8 100%);
    padding: 50px 0px;
    text-align: center;
    }
    
    .scientific-header {
    margin-bottom: 20px;
    }
    
    #scientifically-backed_{{ section.id }} .scientific-title {
    letter-spacing: 0.68px;
    text-transform: capitalize;
    color: #086B92;
    text-align: center;
    font-family: Nunito;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    margin-top: 0;
    margin-bottom: 20px;
    }
    
    #scientifically-backed_{{ section.id }} .scientific-subtitle {
    color: #333;
    max-width: 700px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.32px;
    text-align: center;
    vertical-align: middle;
    font-family: 'nunito';
    }
    
    #scientifically-backed_{{ section.id }} .scientific-slider {
    margin: 0 auto;
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    padding-bottom: 2.5rem;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
    }
    #scientifically-backed_{{ section.id }} .slick-active button {
    border-radius: 30px;
    width: 22px;
    height: 8px;
    }
    #scientifically-backed_{{ section.id }} .slick-dots li,
    #scientifically-backed_{{ section.id }} .slider-dots li{
    margin: 0px 3px;
    }
    
    #scientifically-backed_{{ section.id }} span.scientific-icon svg {
    height: 20px;
    }
    #scientifically-backed_{{ section.id }} .scientific-card:hover {
    border:1px solid #006a91;
    }
    #scientifically-backed_{{ section.id }} .scientific-card {
    background-color: #f4f0eb;
    border-radius: 12px;
    padding: 30px 24px;
    margin: 10px;
    text-align: left;
    position: relative;
    flex: 0 0 380px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border: 1px solid #00000000;
      height: 225px;
    }
    
    #scientifically-backed_{{ section.id }} .scientific-quote-text {
    color: #3f3f3f;
    margin: 15px 0;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.3;
    letter-spacing: -0.63px;
    font-family: 'Lato';
}
    
    #scientifically-backed_{{ section.id }} .scientific-quote-icon img {
    width: 70px;
    margin-left: 0;
    }
    #scientifically-backed_{{ section.id }} .scientific-note:hover{
    text-decoration: underline;
    }
    #scientifically-backed_{{ section.id }} .scientific-note {
    display: block;
    margin-top: 5px;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: -0.108px;
    color: #086b92;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    }
    
    #scientifically-backed_{{ section.id }} .slick-dots {
    margin-top: 30px;
    }
    
    .slick-dots li button:before {
    color: #00587A;
    }
    #scientifically-backed_{{ section.id }}  .slick-dots, 
    #scientifically-backed_{{ section.id }} .slider-dots{
    bottom: -5px;
    }

  
/* Tablet */
@media (max-width: 1025px) {
    #scientifically-backed_{{ section.id }} h2.scientific-title {
    margin-bottom: 20px;
    color: #374650;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.68px;
    }
    
    #scientifically-backed_{{ section.id }} .scientific-subtitle {
    font-size: 16px;
    line-height: 1.5;
    }
}

/* Mobile */
@media (max-width: 769px) {
    #scientifically-backed_{{ section.id }} h2.scientific-title {
    font-size: 28px;
    line-height: 48px;
    }
    
    #scientifically-backed_{{ section.id }} .scientific-header {
    margin-bottom: 20px;
    }
    
    #scientifically-backed_{{ section.id }} .scientific-quote-text {
    font-size: 18px;
    line-height: 1.3;
    }
    
    #scientifically-backed_{{ section.id }} .scientific-quote-icon img {
    width: 50px;
    }
    
    #scientifically-backed_{{ section.id }} .scientific-slider {
    gap: 0;
    }
    
    #scientifically-backed_{{ section.id }} .scientific-card {
    padding: 10px 20px;
    flex: 0 0 310px;
    }
    #scientifically-backed_{{ section.id }} {
    padding:10px 0px 25px;
    background:linear-gradient(223deg, #FFF 0%, #FEF8E8 100%);
    }
}
  @media(max-width: 550px){
    #scientifically-backed_{{ section.id }} .scientific-quote-text {
    color: #413D45;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.394px;
    }
    #scientifically-backed_{{ section.id }} .scientific-note {
    font-size: 14px;
    }
    #scientifically-backed_{{ section.id }} .scientific-quote-text{
    margin: 10px 0;line-height: 1.3;
    }
    #scientifically-backed_{{ section.id }} .transformation-section .percentage{
    line-height: 1.7;
    }
    #scientifically-backed_{{ section.id }} .scientific-card{
      height: 154px;
    }
  }
</style>
{% endif %}

<script>
  $(document).ready(function(){
    $('#scientifically-backed_{{ section.id }} .scientific-slider').slick({
      dots: false,
      infinite: true,
      arrows: false,
      speed: 700,
      autoplay: true,
      autoplaySpeed: 3000,
      slidesToShow: 3,
      slidesToScroll: 1,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 2.2
          }
        },
        {
          breakpoint: 768,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
            infinite: true
          }
        },
        {
          breakpoint: 500,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
            infinite: true,
             dots: true,
          }
        }
      ]
    });
  });
</script>

{% schema %}
{
  "name": "scientific slider thirdO",
  "settings": [
    {
      "type": "text",
      "id": "scientific_main_title",
      "label": "Title",
      "default": "Scientifically Backed"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    }
  ],
  "presets": [
    {
      "name": "scientific slider thirdO"
    }
  ]
}
{% endschema %}



