<!-- scientific-slider-thirdO -->
    {% assign science_content = product.metafields.custom.product_3_0_science_slider.value %}
    {% if science_content != blank  %}
    <section class="scientific-section" id="scientifically-backed_{{ section.id }}">
    <div class="container">
    <div class="scientific-header">
    {% if section.settings.title != blank %} <h2 class="scientific-title">{{ section.settings.title }}</h2> {% endif %}
    {% if section.settings.description != blank %} <p class="scientific-subtitle">{{ section.settings.description }}</p>{% endif %}
    </div>
    
    <div class="scientific-slider">
    
    {% for block in science_content %}
    <div class="scientific-card">
    {% if block.scientific_card_image_url != blank %}   <div class="scientific-quote-icon">
    <img src="{{ block.scientific_card_image_url }}" alt="" title="" width="" height=""></div>{% endif %}
    {% if block.scientific_card_content != blank %} 
    <p class="scientific-quote-text">
    {{ block.scientific_card_content }}
    </p>
    {% endif %}
    <div class="scientific-verified">
    {% if block.scientific_card_svg_content != blank %} 
    
    <span class="scientific-icon">
    {% if block.scientific_card_svg_url != blank %} 
    {{ block.scientific_card_svg_url }}
    {% else %}
    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 28 29" fill="none">
    <path d="M12.7751 15.5706L11.0834 13.9081C10.8695 13.6942 10.6023 13.5873 10.2819 13.5873C9.96145 13.5873 9.68418 13.704 9.45007 13.9373C9.23618 14.1512 9.12923 14.4234 9.12923 14.754C9.12923 15.0845 9.23618 15.3567 9.45007 15.5706L11.9584 18.079C12.1917 18.3123 12.464 18.429 12.7751 18.429C13.0862 18.429 13.3584 18.3123 13.5917 18.079L18.5501 13.1206C18.7834 12.8873 18.895 12.6151 18.8849 12.304C18.8748 11.9928 18.7632 11.7206 18.5501 11.4873C18.3167 11.254 18.0398 11.1326 17.7194 11.1233C17.399 11.114 17.1217 11.2256 16.8876 11.4581L12.7751 15.5706ZM9.5084 26.129L7.81673 23.2706L4.6084 22.5706C4.31673 22.5123 4.0834 22.3618 3.9084 22.1191C3.7334 21.8765 3.66534 21.6089 3.70423 21.3165L4.02507 18.0206L1.83757 15.5123C1.64312 15.2984 1.5459 15.0456 1.5459 14.754C1.5459 14.4623 1.64312 14.2095 1.83757 13.9956L4.02507 11.4873L3.70423 8.19145C3.66534 7.89979 3.7334 7.63223 3.9084 7.38878C4.0834 7.14534 4.31673 6.99484 4.6084 6.93729L7.81673 6.23729L9.5084 3.37895C9.66395 3.12617 9.87784 2.95584 10.1501 2.86795C10.4223 2.78006 10.6945 2.79484 10.9667 2.91229L14.0001 4.19562L17.0334 2.91229C17.3056 2.79562 17.5778 2.78084 17.8501 2.86795C18.1223 2.95506 18.3362 3.1254 18.4917 3.37895L20.1834 6.23729L23.3917 6.93729C23.6834 6.99562 23.9167 7.14651 24.0917 7.38995C24.2667 7.6334 24.3348 7.90056 24.2959 8.19145L23.9751 11.4873L26.1626 13.9956C26.357 14.2095 26.4542 14.4623 26.4542 14.754C26.4542 15.0456 26.357 15.2984 26.1626 15.5123L23.9751 18.0206L24.2959 21.3165C24.3348 21.6081 24.2667 21.8757 24.0917 22.1191C23.9167 22.3626 23.6834 22.5131 23.3917 22.5706L20.1834 23.2706L18.4917 26.129C18.3362 26.3817 18.1223 26.5521 17.8501 26.64C17.5778 26.7278 17.3056 26.7131 17.0334 26.5956L14.0001 25.3123L10.9667 26.5956C10.6945 26.7123 10.4223 26.7271 10.1501 26.64C9.87784 26.5528 9.66395 26.3825 9.5084 26.129ZM11.0251 24.029L14.0001 22.7456L17.0334 24.029L18.6667 21.229L21.8751 20.4706L21.5834 17.204L23.7417 14.754L21.5834 12.2456L21.8751 8.97895L18.6667 8.27895L16.9751 5.47895L14.0001 6.76229L10.9667 5.47895L9.3334 8.27895L6.12507 8.97895L6.41673 12.2456L4.2584 14.754L6.41673 17.204L6.12507 20.529L9.3334 21.229L11.0251 24.029Z" fill="#67646A"/>
    </svg>{% endif %}
    </span>
    {{ block.scientific_card_svg_content }}
    {% endif %}
    {% if block.scientific_card_small_content != blank %}  <small class="scientific-note">{{ block.scientific_card_small_content }}</small> {% endif %}
    </div>
    </div>
    {% endfor %}
    </div>
    </div>
    </section>
<style>
 #scientifically-backed_{{ section.id }} {
  background: linear-gradient(180deg, #FFF 0%, #FEF8E8 100%);
  padding: 50px 0px;
  text-align: center;
}

.scientific-header {
  margin-bottom: 40px;
}

#scientifically-backed_{{ section.id }} .scientific-title {
  letter-spacing: 0.68px;
  text-transform: capitalize;
  color: #086B92;
  text-align: center;
  font-family: Nunito;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
}

#scientifically-backed_{{ section.id }} .scientific-subtitle {
  color: #333;
  max-width: 700px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.32px;
  text-align: center;
  vertical-align: middle;
  font-family: 'Poppins';
}

#scientifically-backed_{{ section.id }} .scientific-slider {
  margin: 0 auto;
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding-bottom: 1rem;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#scientifically-backed_{{ section.id }} span.scientific-icon svg {
  height: 20px;
}

#scientifically-backed_{{ section.id }} .scientific-card {
  background-color: #f4f0eb;
  border-radius: 12px;
  padding: 30px 24px;
  margin: 10px;
  text-align: left;
  position: relative;
  flex: 0 0 400px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

#scientifically-backed_{{ section.id }} .scientific-quote-text {
  color: #3f3f3f;
  margin: 15px 0;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: -0.63px;
  font-family: 'Poppins';
}

#scientifically-backed_{{ section.id }} .scientific-verified {
  color: #67646A;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.2px;
  letter-spacing: -0.126px;
}

#scientifically-backed_{{ section.id }} .scientific-icon {
  margin-right: 6px;
}

#scientifically-backed_{{ section.id }} .scientific-quote-icon img {
  width: 70px;
  margin-left: 0;
}

#scientifically-backed_{{ section.id }} .scientific-note {
  display: block;
  margin-top: 4px;
  color: #413D45;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 14.4px;
  letter-spacing: -0.108px;
}

/* Slick Dots */
#scientifically-backed_{{ section.id }} .slick-dots {
  margin-top: 30px;
}

#scientifically-backed_{{ section.id }} .slick-dots li button:before {
  color: #00587A;
}

/* Tablet */
@media (max-width: 1025px) {
#scientifically-backed_{{ section.id }} h2.scientific-title {
    margin-bottom: 20px;
    color: #374650;
    text-align: center;
    font-family: Nunito;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.68px;
    text-transform: capitalize;
    margin-top: 0;
  }

  #scientifically-backed_{{ section.id }} .scientific-subtitle {
    font-size: 16px;
    line-height: 1.5;
  }
}

/* Mobile */
@media (max-width: 768px) {
 #scientifically-backed_{{ section.id }} h2.scientific-title {
    letter-spacing: 0.68px;
    text-transform: capitalize;
    color: #086B92;
    text-align: center;
    font-family: Nunito;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
  }
#scientifically-backed_{{ section.id }} .scientific-header {
    margin-bottom: 20px;
}
 #scientifically-backed_{{ section.id }} .scientific-quote-text {
    color: #3f3f3f;
    margin: 15px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: -0.63px;
  }

  #scientifically-backed_{{ section.id }} .scientific-quote-icon img {
    width: 50px;
    margin-left: 0;
  }

  #scientifically-backed_{{ section.id }} .scientific-slider {
    gap: 0rem;
  }

 #scientifically-backed_{{ section.id }} .scientific-card {
    background-color: #f4f0eb;
    border-radius: 12px;
    padding: 20px 20px;
    margin: 10px;
    text-align: left;
    position: relative;
    flex: 0 0 310px;
  }
}

</style>

{% endif %}

<!-- Slick CSS/JS (Paste in head or before </body>) -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script>
 $(document).ready(function(){
  $('#scientifically-backed_{{ section.id }} .scientific-slider').slick({
    dots: false,
    arrows: false,
    infinite: true,
    slidesToShow: 3,
    slidesToScroll: 1,
    responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 2.2
        }
      },
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 2, // <-- missing comma fixed
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 2000,
          infinite: true
        }
      },
      {
       breakpoint: 500,
        settings: {
          slidesToShow: 1.2, // <-- missing comma fixed
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 2000,
          infinite: true
        }
      }
    ]
  });
});

</script> -->

{% schema %}
    {
  "name": "scientific slider thirdO",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
     {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    }
  ],
  "presets": [
    {
      "name": "scientific slider thirdO"
    }
  ]
}
{% endschema %}