<style>
       #video_{{ section.id }}{
          padding: 3rem 1.5rem;
          background-color: white;
        }

       #video_{{ section.id }} .section-heading {
          text-align: center;
          font-size: 2rem;
          font-style: italic;
          font-weight: 300;
        }

       #video_{{ section.id }} .section-heading .font-semibold {
          font-weight: 600;
        }

       #video_{{ section.id }} .section-subheading {
          text-align: center;
          color: #4B5563;
          margin: 0.5rem 0 2rem;
        }

       #video_{{ section.id }} .video-scroll-container {
          display: flex;
          overflow-x: auto;
          gap: 1rem;
          padding-bottom: 1rem;
          scroll-snap-type: x mandatory;
          -ms-overflow-style: none;
          scrollbar-width: none;
        }

       #video_{{ section.id }} .video-scroll-container::-webkit-scrollbar {
          display: none;
        }

       #video_{{ section.id }} .video-card {
          flex: 0 0 300px;
          background-color: white;
          border-radius: 12px;
          box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
          overflow: hidden;
          scroll-snap-align: start;
          display: flex;
          flex-direction: column;
          transition: transform 0.3s;
          position: relative;
        }

       #video_{{ section.id }} .video-card:hover {
          transform: translateY(-4px);
        }

        #video_{{ section.id }} .video-wrapper {
          width: 100%;
          height: auto;
          overflow: hidden;
        }

        #video_{{ section.id }} .video-wrapper video {
          width: 100%;
          height: auto;
          display: block;
          object-fit: cover;
        }

       #video_{{ section.id }} .card-content {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          padding: 0.8rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 10px;
          backdrop-filter: blur(5px);
          background: #ffffff5c;
          margin: 0px;
          border-radius: 10px;
        }

       #video_{{ section.id }} .product-img {
          width: 80px;
          height: auto;
          border-radius: 4px;
        }

       #video_{{ section.id }} .product-title {
        font-weight: 600;
        font-size: 13px;
        margin: 0;
        color: #086b92;
        line-height: 1.2;
    }

         #video_{{ section.id }} .product-price {
          font-size: 12px;
          margin: 0px 0px 3px;
          color: #000000;
          font-weight: 800;
          letter-spacing: unset;
          }

     #video_{{ section.id }} #video_{{ section.id }}.shop-button {
      background-color: #086b92;
      color: white;
      padding: 5px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      border: 1px solid #086b92;
  }

       #video_{{ section.id }} .shop-button:hover {
          background-color: #055671;
        }

        #video_{{ section.id }} .product-title-new {
          width: 200px;
        }
    #video_{{ section.id }}  #video_open_popup .video_popup_grid video{
          /* max-width: 220px; */
          border: none;
          outline: none;
          border-radius: 12px;
      }
    #video_{{ section.id }}  #video_open_popup .card-content{
            position: relative;
          display: block;
      }
</style>

<section class="video-section" id="video_{{ section.id }}">
  {% if section.settings.title != blank %}
    <h3 class="title">
      <span class="text">{{ section.settings.title }}</span>
    </h3>
  {% endif %}

  {% if section.settings.description != blank %}
    <div class="rte subtext-brand w-100 text-center">
      <p>{{ section.settings.description }}</p>
    </div>
  {% endif %}

  <div class="video-scroll-container">
    {% for video in section.blocks %}
      {% assign featured_product = video.settings.product %}
      {% if video.settings.video_poster != blank %}
        <div class="video-card">
          <div class="video-wrapper">
            <a href="/products/{{ featured_product }}" title="{{ featured_product.title }}">
              <img
                data-src="{{ video.settings.video_poster | img_url: '500x' }}"
                src="{{ video.settings.video_poster | img_url: '100x' }}"
                alt="{{ }}"
                width="100%"
                height="100%"
                class="video__poster lazyload"
              >
            </a>
          </div>

          {% if featured_product %}
            <div class="card-content cstm_tesimonail_video" data-product-id="{{ featured_product.id }}">
              <img
                data-src="{{ featured_product.featured_image | img_url: 'small' }}"
                src="{{ featured_product.featured_image | img_url: '20x' }}"
                alt="{{ featured_product.title }}"
                width="100%"
                height="100%"
                class="product-img lazyload"
              >

              <div class="product-title-new">
                <p class="product-title">{{ featured_product.title | truncatewords: 4 }}</p>
                <p class="product-price">{{ featured_product.price | money_with_currency }}</p>
                <button class="shop-button">Add To Cart</button>
              </div>
            </div>
          {% endif %}
        </div>
        {% render 'popup_video_product', video: video, featured_product: video.settings.product %}
      {% endif %}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Video Product Cards",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Voices of Satisfaction"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Content"
    }
  ],
  "blocks": [
    {
      "type": "product_card",
      "name": "Custom Product Card",
      "settings": [
         {
          "type": "image_picker",
          "id": "video_poster",
          "label": "Video Poster"
        },
        {
          "type": "url",
          "id": "video",
          "label": "Video URL"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonial Video | App"
    }
  ]
}
{% endschema %}
