<!-- transform-section-thirdO-->

{% assign transform_section1 = product.metafields.custom.product_3_0_transform_section_third.value %}
{% if transform_section1 != blank %}
  {% for transform_value in transform_section1 %}
<section class="transformation-section" section{{ block.id }}>
  <div class="container">
    {% if transform_value.count_title != blank or transform_value.count_descriptions1 %}
    <h2 class="section-title">{{ transform_value.count_title }}</h2>
    <p class="section-subtitle">
    {{ transform_value.count_descriptions1 }}  
    </p>
    {% endif %}
    
    <div class="results-grid" id="results-grid_1">
      {% if transform_value.count1 != blank or transform_value.description1 != blank %}
      <div class="result-box">
        <h3 class="percentage">{{ transform_value.count1 }}</h3>
        <p class="result-text">{{ transform_value.description1 }}</p>
      </div>
      {% endif %}
      {% if transform_value.count2 != blank or transform_value.description2 != blank %}
      <div class="result-box">
        <h3 class="percentage">{{ transform_value.count2 }}</h3>
        <p class="result-text">{{ transform_value.description2 }}</p>
      </div>
      {% endif %}
    {% if transform_value.count_3 != blank or transform_value.description3 != blank %}
      <div class="result-box">
        <h3 class="percentage">{{ transform_value.count_3 }}</h3>
        <p class="result-text">{{ transform_value.description3 }}</p>
      </div>
      {% endif %}
    {% if transform_value.count4 != blank or transform_value.description4 != blank %}
      <div class="result-box">
        <h3 class="percentage">{{ transform_value.count4 }}</h3>
        <p class="result-text">{{ transform_value.description4 }}</p>
      </div>
      {% endif %}
    {% if transform_value.count5 != blank or transform_value.description5 != blank %}
      <div class="result-box">
        <h3 class="percentage">{{ transform_value.count5 }}</h3>
        <p class="result-text">{{ transform_value.description5 }}</p>
      </div>
      {% endif %}
    </div>
  </div>
</section>
<style>
  .transformation-section {
  padding:45px 20px 45px;
  background-color: #fefefe;
  text-align: center;
}

.transformation-section .section-title {
    margin-bottom: 15px;
    letter-spacing: 0.68px;
    text-transform: capitalize;
    color: #086B92;
    text-align: left;
    font-family: Nunito;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
  margin-top:0;
}

.transformation-section .section-subtitle {
    margin-bottom: 40px;
    color: #36454F;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.32px;
    width: 497px;
    text-align: left;
}
.transformation-section .results-grid {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  /* flex-wrap: wrap; */
}

.transformation-section .result-box {
  flex: 1;
  min-width: 200px;
  margin: 10px 0;
      text-align: left;
}

.transformation-section .percentage {
    margin-bottom: 10px;
    color: #333;
    font-family: Lato;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3;
    margin-top: 0;
    text-align: left;
    background: linear-gradient(180deg, #8DDFFF 0%, #086B92 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.transformation-section .result-text {
    max-width: 250px;
    /* margin: 0 auto; */
    color: #333;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  text-align:left;
    line-height: 140%;
    letter-spacing: 0.32px;
}

  @media (max-width: 1025px) {
.transformation-section .section-title {
    margin-bottom: 15px;
    letter-spacing: 0.68px;
    text-transform: capitalize;
    color: #086B92;
    text-align: left;
    font-family: Nunito;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}

.transformation-section .section-subtitle {
    margin-bottom: 40px;
    color: #36454F;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.32px;
    width: 497px;
    text-align: left;
}
    .transformation-section .percentage {
    font-size: 45px;
}

  }
/* Responsive for tablets and mobile */
@media (max-width: 769px) {
     .transformation-section .section-title {
      color: #086B92;
    text-align: center;
    font-family: Lato;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 49.559px;
}
  .transformation-section .percentage {
        font-size: 30px;
        color: #333;
        font-family: Lato;
        font-style: normal;
        font-weight: 700;
        line-height: 1.3;
    }
 
  .transformation-section .result-text {
    max-width: none;
}
  .transformation-section .result-text {
        max-width: none;
        color: #333;
        font-family: Lato;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0.32px;
    }

   .transformation-section .section-subtitle {
      color: #2F2F34;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    letter-spacing: 0.32px;
    width: auto;
    }
    .transformation-section .result-box{ 
      min-width: 30%;

    }
    .transformation-section {
    padding: 31px 5px;
        background: #f9f9f9;
    }
    .transformation-section .section-subtitle{
      margin-bottom: 25px;
    }
  }
</style>
  {% endfor %}
  {% endif %}

{% schema %}
    {
  "name": "transform-section-thirdO",
  "settings": [
  ],
  "presets": [
    {
      "name": "transform-section-thirdO"
    }
  ]
}
{% endschema %}